<div class="loader" *ngIf="!news">
  <div class="loader-img-green"></div>
</div>
<p class="titre-actu" *ngIf="news && news.length > 0"><strong>Les actualités web</strong></p>
<div class="actualites" *ngIf="news && news.length > 0">
  <a href={{article.url}} target="_blank" *ngFor="let article of news">
    <div class="actu">
      <div class="row">
        <p class="title">{{article.title}}</p>
        <p class="whowhen" *ngIf="calculTime(article) < 24">{{article.source.name}} - Il y a {{calculTime(article) |
          date:'HH'}} heures</p>
        <p class="whowhen" *ngIf="!(calculTime(article) < 24)">{{article.source.name}} - Le {{calculTime(article) |
          date:'dd/MM/yyyy'}}</p>
        <p class="text">{{article.description}}</p>
        <div class="tags">
          <p class="tag">#{{article.raisonSociale}}</p>
        </div>
      </div>
    </div>
  </a>
</div>
