.titre-actu {
  margin-left: 10px;
}

@media screen and (max-width: 991px) {
  .titre-actu {
    margin-top: 60px;
  }
}

.actualites {
  .actu {
    border-radius: 5px;
    background-color: #ffffff;
    margin: 0 0 20px 10px;
    padding: 45px 20px 23px 20px;
    @media screen and (max-width: 991px) {
      margin: 0 0 20px 0;
    }

    .row {
      margin: 0;
    }

    .title {
      width: 100%;
      margin-bottom: 0px;
      font-family: Roboto, sans-serif;;
      font-size: 22px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.09;
      letter-spacing: 0.4px;
      color: #009f61;

    }

    .whowhen {
      font-family: Roboto, sans-serif;;
      font-size: 12px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: 0.2px;
      color: #000000;
      width: 100%;
    }
    .text {
      object-fit: contain;
      font-family: Roboto, sans-serif;;
      font-size: 13px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.31;
      letter-spacing: 0.3px;
      color: #686868;
      width: 100%;
    }
    .tags {
      .tag {
        display: inline-block;
        padding: 3px 4px 3px 6px;
        margin-right: 10px;
        border-radius: 3px;
        border: solid 1px #909090;
        font-family: Roboto, sans-serif;;
        font-size: 11px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        color: #909090;
      }
      .tag:first-of-type {
        background-color: #909090;
        color: #ffffff;
      }
    }
  }
  .actu:hover {
    box-shadow: 0 0 5px 0 rgba(91, 103, 112, 0.3);
    cursor: pointer;
  }
}

a:hover {
  text-decoration: none;
}

.loader-img-green {
  background: url('../../../assets/images/loader-green.svg') no-repeat center;
  padding: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -webkit-animation: spin 1.4s linear infinite;
  animation: spin 1.4s linear infinite;
  margin: auto;
  display: flex;
  margin-top: 280px;
}

.loader-img-white {
  background: url('../../../assets/images/loader-white.svg') no-repeat center;
  padding: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -webkit-animation: spin 1.4s linear infinite;
  animation: spin 1.4s linear infinite;
  margin: auto;
  display: flex;
  margin-top: 280px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader {
  margin-top: 0;
  margin-right: 50%;
  position: absolute;
  width: 100%;
}
