<ngb-carousel [interval]="-1" [showNavigationIndicators]="true" [pauseOnHover]="true">
   <ng-template ngbSlide>
    <div class="row">
      <div class="col-6 img-slide img_b left" >
        <div class="content-img">
          <p class="title_img">TOTAL BILAN *</p>
          <p class="chiffre_img">{{dashboardKPI.values.totalActif|kpi:devise}}</p>
          <p class="text_img">{{dashboardKPI.values.totalActif|unite:devise:annee}}</p>
        </div>
      </div>
      <div class="col-6 img-slide img_tl right" >
        <div class="content-img">
          <p class="title_img">PASSIF - Capitaux propres *</p>
          <p class="chiffre_img">{{dashboardKPI.values.passifCapitalPropre|kpi:devise}}</p>
          <p class="text_img">{{dashboardKPI.values.passifCapitalPropre|unite:devise:annee}}</p>
        </div>
      </div>
      <div *ngIf="!dashboardBilan.values" class="col-12 img-slide img_b" >
        <div class="img_download">
          <img class="download" src="../../../assets/images/dashboard/img/download.svg" alt="download"/>
        </div>
        <div class="content-img pdf">
          <p class="title_img">Dernier bilan déposé</p>
          <p class="text_img_1">Nous n'avons pas le dernier bilan complet de cet établissement</p>
        </div>
      </div>
      <div *ngIf="dashboardBilan.values" class="col-12 img-slide img_b" >
        <div class="img_download">
          <img class="download" src="../../../assets/images/dashboard/img/download.svg" alt="download"/>
        </div>
        <div class="content-img pdf">
          <p class="title_img">Dernier bilan déposé au greffe</p>
          <p class="text_img_1">{{getDateBilan(dashboardBilan.values.bilans.value.date) | date: 'dd/MM/yyyy'}}</p>
          <p class="text_img_2 text_img_2_no_margin">Comptes annuels complets</p>
          <p><a href="{{dashboardBilan.values.bilans.value.nomPdf}}" class="text_img_3" download="test.pdf" target="_blank">Télécharger</a></p>
        </div>
      </div>                                    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="row">
      <div class="col-6 img-slide img_b left" >
        <div class="content-img">
          <p class="title_img">ACTIF - Placements *</p>
          <p class="chiffre_img">{{dashboardKPI.values.actifPlacement|kpi:devise}}</p>
          <p class="text_img">{{dashboardKPI.values.actifPlacement|unite:devise:annee}}</p>
        </div>
      </div>
      <div class="col-6 img-slide img_tl right" >
        <div class="content-img">
          <p class="title_img">PASSIF - Provisions techniques brutes *</p>
          <p class="chiffre_img">{{dashboardKPI.values.passifProvisionTechnqiue|kpi:devise}}</p>
          <p class="text_img">{{dashboardKPI.values.passifProvisionTechnqiue|unite:devise:annee}}</p>
        </div>
      </div>
      <div class="col-6 img-slide img_tr left" >
        <div class="content-img">
          <p class="title_img">Compte de résultat - Primes - Cotisations acquises *</p>
          <p class="chiffre_img">{{dashboardKPI.values.prime|kpi:devise}}</p>
          <p class="text_img">{{dashboardKPI.values.prime|unite:devise:annee}}</p>
        </div>
      </div>
      <div class="col-6 img-slide img_b right" >
        <div class="content-img">
          <p class="title_img">Compte de résultat - Charges des sinistres *</p>
          <p class="chiffre_img">{{dashboardKPI.values.chargeSinistre|kpi:devise}}</p>
          <p class="text_img">{{dashboardKPI.values.chargeSinistre|unite:devise:annee}}</p>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="row">
      <div class="col-6 img-slide img_b left" >
        <div class="content-img">
          <p class="title_img">Compte de résultat - Résultat technique *</p>
          <p class="chiffre_img">{{dashboardKPI.values.resultatTechnique|kpi:devise}}</p>
          <p class="text_img">{{dashboardKPI.values.resultatTechnique|unite:devise:annee}}</p>
        </div>
      </div>
      <div class="col-6 img-slide img_tl right" >
        <div class="content-img">
          <p class="title_img">Compte de résultat - Résultat de l’exercice *</p>
          <p class="chiffre_img">{{dashboardKPI.values.resultatExercice|kpi:devise}}</p>
          <p class="text_img">{{dashboardKPI.values.resultatExercice|unite:devise:annee}}</p>
        </div>
      </div>
      <div class="col-6 img-slide img_tr left" >
        <div class="content-img">
          <p class="title_img">&nbsp;</p>
          <p class="chiffre_img">&nbsp;</p>
          <p class="text_img">&nbsp;</p>
        </div>
      </div>
      <div class="col-6 img-slide img_b right" >
        <div class="content-img">
          <p class="title_img">&nbsp;</p>
          <p class="chiffre_img">&nbsp;</p>
          <p class="text_img">&nbsp;</p>
        </div>
      </div>
    </div>
  </ng-template>
</ngb-carousel>
<p class="compte-annuel">* Compte annuel Assurance</p>
