<batica-search-box></batica-search-box>
<div *ngIf="!loading">
  <search-history [list]="list"></search-history>
  <div class="tutorial-wrapper {{hide}}" *ngIf="list.length == 0 && user.tutorial == false">
    <div class="tutorial">
      <div class="arrow-img"></div>
      <div class="close-icon" (click)="fadeoutTuto()"></div>
      <p class="title" i18n="@@customizeHomePage">Personnalisez votre page d'accueil</p>
      <div class="image-desc"></div>
      <p class="text" i18n="@@explanationTutorial">Depuis les résultats de recherche, ajoutez des entreprises à votre
        portefeuille client ou à vos favoris, vous retrouverez ici un accès direct à ces dernières. Vous pourrez aussi
        accéder à leurs actualités web les plus récentes.</p>
    </div>
    <a class="skip-tutorial-text" i18n="@@understandTutorial" (click)="fadeoutTuto()">J'ai compris</a>
  </div>
</div>

