.tutorial-wrapper {
  padding: 0 16px 16px 16px;

  .tutorial {
    background-image: url('../../assets/images/pointilles.svg');
    background-repeat: no-repeat;
    height: 607px;
    width: 540px;
    padding: 20px;
    box-sizing: border-box;
    margin: 50px auto 0 auto;
    position: relative;

    .arrow-img {
      width: 194px;
      height: 185px;
      position: absolute;
      background-image: url('../../assets/images/fleche.svg');
      background-repeat: no-repeat;
      top: -40px;
      left: -110px;
      transition: opacity 0.2s ease;
    }

    .title {
      height: 28px;
      text-align: center;
      font-size: 1.5em;
      letter-spacing: 0.3px;
      font-weight: bold;
      margin-top: 20px;
    }

    .image-desc {
      width: 321px;
      height: 277px;
      background-image: url('../../assets/images/icono-empty-state.svg');
      margin: 0 auto;
      margin-top: 50px;
    }

    .text {
      margin: 0 40px;
      margin-top: 52px;
    }

    .close-icon {
      background-image: url('../../assets/images/btn-fermer.svg');
      background-repeat: no-repeat;
      position: absolute;
      top: 20px;
      right: 20px;
      width: 20px;
      height: 20px;
      transform-origin: center;
      cursor: pointer;
      transition: transform 0.2s ease;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  .skip-tutorial-text {
    width: 50%;
    margin: 0 auto 76px auto;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.3px;
    color: #009f61;
    text-align: center;
    cursor: pointer;
    text-decoration: underline;
    transition: transform 0.2s ease;
    transform-origin: center;
    display: block;

    &:hover {
      transform: scale(1.1);
    }
  }
}

.fade-out-tutorial {
  transition: opacity .5s ease;
  opacity: 0;
}

@media screen and (max-width: 1100px) {
  .arrow-img {
    opacity: 0;
  }
}
