
.container-fluid {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.header {
  background-color: #ffffff;
  margin-top: 0%;
  position: relative;
  height: 80px;

  .calf-logo {
    left: 30px;
  }

  .account-info {
    position: absolute;
    right: 0;
    width: 40%;
    top: 0;
    bottom: 0;
    text-align: right;

    .home-link {
      right: calc(5% + 329px);
      width: 25%;
      font-size: 13px;
      font-weight: 500;
      letter-spacing: 0.2px;
      color: #686868;
      transition: color 0.2s ease;

      &:hover {
        color: #7e7e7e;
      }
    }
  }
}

@media screen and (max-width: 950px) {
  .home-link {
    opacity: 0;
  }
}
