<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div *ngIf="display" class="header">
        <img src="../../assets/icones/logo-calf.svg" class="calf-logo abs-center-y" alt="calf"/>
        <a routerLink="" routerLinkActive="active"><img src="../../assets/icones/logo-batica.svg" alt="batica"
                                                        class="batica-logo abs-center"/></a>
        <div class="account-info">
          <a class="home-link abs-center-y" routerLink="" routerLinkActive="active" i18n="@@homeHeaderLink">ACCUEIL</a>
          <avatar></avatar>
          <notification></notification>
          <settings></settings>
        </div>
      </div>
    </div>
  </div>
</div>
