input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.login-pf-page {
  background: url(../../assets/images/bg.svg) center;
  -webkit-background-size: cover;
  /* pour anciens Chrome et Safari */
  background-size: cover;
  /* version standardisée */
  background-color: #006545;
  font-family: 'Roboto', sans-serif;
  height: auto;
  margin: 0;
  position: absolute;
  padding-top: 80px;
  overflow: hidden;
}

a {
  color: #009F61;
  font-weight: 500;
  text-transform: none !important;
  text-decoration: none;
}

#kc-page-title {
  text-align: center;
  padding: 44px 0 33px 0;
  color: #009F61;
  font-size: 36px;
  margin: 0 auto;
  width: 75%;
}

#kc-page-title img {
  margin: 0 auto;
  width: 244px;
}

/*-- Fin logo batica     --*/

a:hover {
  color: #006545;
  text-decoration: underline;
}

/*--Content--*/

.login-pf-page {
  height: 100%;
  width: 100%;
  margin-bottom: -8.5%;
}

#kc-header {
  background: #ffffff;
  height: 80px;
  margin: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

#kc-header img {
  margin: 26px 30px;
}

/*--form--*/

.card-pf {
  background-color: #FFFFFF;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 rgba(91, 103, 112, 0.2);
  height: auto;
  width: 404px;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  padding-bottom: 1.2%;
}

/*--Title_form--*/

.logo-login-header {
  padding: 44px 0 33px 0;
  text-align: center;
  width: 100%;
}

.logo-login-header img {
  margin: 0 auto;
  width: 244px;
}

.logo-login-header h1 {
  color: #009F61;
  font-size: 36px;
  margin: 0 auto;
  width: 176px;
}

/*--Content_form--*/

#kc-content {
  margin: 0 50px;
}

.form-control {
  border: 1px solid #C7C7C7;
  border-radius: 3px;
  color: #686868;
  height: 70px;
  font-size: 15px;
  font-style: italic;
  margin: 15px 0;
  padding: 0 20px;
  width: 262px;
}

.login-pf-settings {
  height: 30px;
}

h5 {
  margin: 0;
}

#ok {
  text-align: center;
  margin-top: 15%;
  margin-bottom: 15%;
}

#okButtonCreatedAccount {
  padding: 4% 13% 4% 13%;
  width: 105px;
  height: 50px;
  border-radius: 5px;
  color: white;
  font-size: 125%;
  background-color: #009f61;
}

a#okButtonCreatedAccount:hover {
  text-decoration: none;
  background-color: #006545;
}

#checkImg {
  height: 113.2px;
  padding-bottom: 10%;
}
