<div>
  <div class="login-pf-page">
    <div id="kc-header" class="login-pf-page-header">
      <div id="kc-header-wrapper" class="">
        <img src="../../assets/images/logo-calf.svg" alt="calf"></div>
    </div>
    <div class="card-pf ">


      <h1 id="kc-page-title" style="color: black;">
        <img id="checkImg" src="../../assets/images/check.svg" alt="check">
        <div id="errorTitle">
          <h5>Demande de création de compte envoyée</h5>
        </div>
      </h1>


      <div id="kc-content">
        <div id="kc-content-wrapper">

          <div id="kc-error-message">
            <p class="instruction">
            <p>Votre demande de création de compte est transmise à votre administrateur.</p>
            <p>Vous serez informé par email lorsqu'elle sera acceptée</p>

            <div id="ok">
              <a id="okButtonCreatedAccount" href="{{url}}">
                OK</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>





