.profile {
  position: absolute;
  top: 0;
  bottom: 0;
  right: calc(5% + 129px);
  width: 160px;

  .picture {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-size: contain;
    background-image: url('../../assets/icones/dr_house.jpg');
    background-repeat: no-repeat;
    background-position: center;
  }

  .account-fullname {
    left: 50px;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
    letter-spacing: 0.2px;
    color: #686868;
  }
}

