.backgroung-onboarding {
  background-color: white;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
  opacity: 0.9;
}

.display-none {
  display: none;
}

.background-onboarding-hide {
  background-color: white;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
  opacity: 0;
  transition: 2s ease-in-out;
}

.onboarding {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  .titre {
    color: #009f61;
    font-size: 64px;
    text-align: center;
    margin-bottom: 94px;
    font-weight: bold;
  }
  .image {
    width: 100%;
    margin-bottom: 72px;
  }
  .button {
    display: inline-block;
    text-align: center;
  }
}

.onboarding-hide {
  background-color: transparent;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  transition: 2s ease-in-out;
  .titre {
    color: #009f61;
    font-size: 64px;
    text-align: center;
    margin-bottom: 94px;
    font-weight: bold;
    opacity: 0;
    transition: 2s ease-in-out;
  }
  .image {
    width: 100%;
    margin-bottom: 72px;
    opacity: 0;
    transition: 2s ease-in-out;
  }
  .button {
    display: inline-block;
    text-align: center;
    opacity: 0;
    transition: 2s ease-in-out;
  }
}
