<div [ngClass]="">
  <div
    [ngClass]="{'backgroung-onboarding' : !this.isClickHide, 'background-onboarding-hide' : this.isClickHide, 'display-none' : this.displayNone}"></div>
  <div
    [ngClass]="{'onboarding' : !this.isClickHide, 'onboarding-hide' : this.isClickHide, 'display-none' : this.displayNone}">
    <div class="titre">
      BATICA fait peau neuve !
    </div>
    <img src="../../assets/images/icono_onboarding_1ere_connexion.svg" alt="première connexion" class="image"/>
    <!--<div class="image"> </div>-->
    <div class="batica-button button" (click)="onClickDecouvrirBatica()">DÉCOUVRIR LE NOUVEAU BATICA</div>
  </div>
</div>
