<ngb-carousel [interval]="5000" [showNavigationIndicators]="true" [pauseOnHover]="true">
  <ng-template ngbSlide>
    <div class="row">
      <div class="col-6 img-slide img_b left">
        <div class="content-img">
          <p class="title_img">Total Bilan *</p>
          <p class="chiffre_img">{{dashboardKPI.values.totalPassif|kpi:devise}}</p>
          <p class="text_img">{{dashboardKPI.values.totalPassif|unite:devise:annee}} </p>
        </div>
      </div>
      <div class="col-6 img-slide img_tl right">
        <div class="content-img">
          <p class="title_img">Total Actif Immobilisé *</p>
          <p class="chiffre_img">{{dashboardKPI.values.totalActifImmo|kpi:devise}}</p>
          <p class="text_img">{{dashboardKPI.values.totalActifImmo|unite:devise:annee}} </p>
        </div>
      </div>
      <div *ngIf="!dashboardBilan.values" class="col-12 img-slide img_b">
        <div class="img_download">
          <img class="download" src="../../../assets/images/dashboard/img/download.svg" alt="download"/>
        </div>
        <div class="content-img pdf">
          <p class="title_img">Dernier bilan déposé</p>
          <p class="text_img_1">Nous n'avons pas le dernier bilan complet de cet établissement</p>
        </div>
      </div>
      <div *ngIf="dashboardBilan.values" class="col-12 img-slide img_b">
        <div class="img_download">
          <img class="download" src="../../../assets/images/dashboard/img/download.svg" alt="download"/>
        </div>
        <div class="content-img pdf">
          <p class="title_img">Dernier bilan déposé au greffe</p>
          <p class="text_img_1">{{getDateBilan(dashboardBilan.values.bilans.value.date) | date: 'dd/MM/yyyy'}}</p>
          <p class="text_img_2 text_img_2_no_margin">Comptes annuels complets</p>
          <p><a href="{{dashboardBilan.values.bilans.value.nomPdf}}" class="text_img_3" download="test.pdf"
                target="_blank">Télécharger</a></p>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="row">
      <div class="col-6 img-slide img_b left">
        <div class="content-img">
          <p class="title_img">Créances Clients et Autres *</p>
          <p class="chiffre_img">{{dashboardKPI.values.creance|kpi:devise}}</p>
          <p class="text_img">{{dashboardKPI.values.creance|unite:devise:annee}}</p>
        </div>
      </div>
      <div class="col-6 img-slide img_tl right">
        <div class="content-img">
          <p class="title_img">Fournisseurs et comptes rattachés *</p>
          <p class="chiffre_img">{{dashboardKPI.values.fournisseurCompte|kpi:devise}}</p>
          <p class="text_img">{{dashboardKPI.values.fournisseurCompte|unite:devise:annee}}</p>
        </div>
      </div>
      <div class="col-6 img-slide img_tr left">
        <div class="content-img">
          <p class="title_img">Emprunts et dettes assimilées *</p>
          <p class="chiffre_img">{{dashboardKPI.values.empruntDette|kpi:devise}}</p>
          <p class="text_img">{{dashboardKPI.values.empruntDette|unite:devise:annee}}</p>
        </div>
      </div>
      <div class="col-6 img-slide img_b right">
        <div class="content-img">
          <p class="title_img">Crédit bail mobilier *</p>
          <p class="chiffre_img">{{dashboardKPI.values.creditBailMobilier|kpi:devise}}</p>
          <p class="text_img">{{dashboardKPI.values.creditBailMobilier|unite:devise:annee}}</p>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="row">
      <div class="col-6 img-slide img_b left">
        <div class="content-img">
          <p class="title_img">Rémunérations du personnel *</p>
          <p class="chiffre_img">{{dashboardKPI.values.remunPerso|kpi:devise}}</p>
          <p class="text_img">{{dashboardKPI.values.remunPerso|unite:devise:annee}}</p>
        </div>
      </div>
      <div class="col-6 img-slide img_tl right">
        <div class="content-img">
          <p class="title_img">Charges sociales *</p>
          <p class="chiffre_img">{{dashboardKPI.values.chargeSociale|kpi:devise}}</p>
          <p class="text_img">{{dashboardKPI.values.chargeSociale|unite:devise:annee}}</p>
        </div>
      </div>
      <div class="col-6 img-slide img_tr left">
        <div class="content-img">
          <p class="title_img">Autres dettes dont comptes courant d’associés de l’exercice N *</p>
          <p class="chiffre_img">{{dashboardKPI.values.autreDette|kpi:devise}}</p>
          <p class="text_img">{{dashboardKPI.values.autreDette|unite:devise:annee}}</p>
        </div>
      </div>
      <div class="col-6 img-slide img_b right">
        <div class="content-img">
          <p class="title_img">Disponibilités *</p>
          <p class="chiffre_img">{{dashboardKPI.values.dispo|kpi:devise}}</p>
          <p class="text_img">{{dashboardKPI.values.dispo|unite:devise:annee}}</p>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="row">
      <div class="col-6 img-slide img_b left">
        <div class="content-img">
          <p class="title_img">Chiffre d'affaires *</p>
          <p class="chiffre_img">{{dashboardKPI.values.productionVendue|kpi:devise}}</p>
          <p class="text_img">{{dashboardKPI.values.productionVendue|unite:devise:annee}}</p>
        </div>
      </div>
      <div class="col-6 img-slide img_tl right">
        <div class="content-img">
          <p class="title_img">Résultat d’exploitation *</p>
          <p class="chiffre_img">{{dashboardKPI.values.resultatExploit|kpi:devise}}</p>
          <p class="text_img">{{dashboardKPI.values.resultatExploit|unite:devise:annee}}</p>
        </div>
      </div>
      <div class="col-6 img-slide img_tr left">
        <div class="content-img">
          <p class="title_img">Dotations aux amortissements *</p>
          <p class="chiffre_img">{{dashboardKPI.values.dotation|kpi:devise}}</p>
          <p class="text_img">{{dashboardKPI.values.dotation|unite:devise:annee}}</p>
        </div>
      </div>
      <div class="col-6 img-slide img_b right">
        <div class="content-img">
          <p class="title_img">Bénéfice ou perte *</p>
          <p class="chiffre_img">{{dashboardKPI.values.beneficePerteS|kpi:devise}}</p>
          <p class="text_img">{{dashboardKPI.values.beneficePerteS|unite:devise:annee}}</p>
        </div>
      </div>
    </div>
  </ng-template>
</ngb-carousel>
<p class="compte-annuel">* Compte annuel réel simplifié</p>
