<div class="loader" *ngIf="!articles">
  <div class="loader-img-green"></div>
</div>
<div class="item" *ngIf="articles && articles.length > 0">
  <div class="head_block">
    <p class="items_head_block">Les actualités web</p>
  </div>
  <div *ngFor="let article of articles">
      <a href={{article.url}} target="_blank">
        <div class="actu">
          <p class="title-actu">{{article.title}}</p>
          <p class="source-actu" *ngIf="calculTime(article) < 23">{{article.source.name}} - Il y a {{calculTime(article) |
            date:'HH'}} heures</p>
          <p class="source-actu" *ngIf="!(calculTime(article) < 23)">{{article.source.name}} - Le {{calculTime(article) |
            date:'dd/MM/yyyy'}}</p>
          <p><span class="hashtag hashtagCA">#{{article.raisonSociale}}</span></p>
          <div class="separator separator_4"></div>
        </div>
      </a>
  </div>

</div>
