.head_block {
  border-bottom: 2px solid #E3E3E3;
  font-family: Roboto, sans-serif;;
  font-size: 18px;
  color: #000000;
  letter-spacing: 0.25px;
  padding: 8px 10px 8px 15px;
  display: flex;
  justify-content: space-between;
}

.items_head_block {
  color: #000000;
  font-weight: bold;
  font-size: 18px;
  padding-left: 0;
}

.content {
  position: absolute;
  right: 0;
  overflow: auto;
  margin-top: 183px;
  padding-bottom: 100px;
}

.item {
  background-color: #FFFFFF;
  box-shadow: 0 0 5px 0 rgba(91, 103, 112, 0.30);
  border-radius: 5px;
  margin-bottom: 30px;
  padding: 0;
  overflow: hidden;
}

.item-margin-bottom {
  margin-bottom: 100px;
}

.actu {
  margin-bottom: 20px;
}

.actu:last-of-type {
  margin-bottom: 0;
}

p {
  padding: 2px 16px;
  margin: 5px 0;
}

.title-actu {
  font-size: 18px;
  font-weight: bold;
  color: #009f61;
}

.title-actu:hover {
  color: #0056b3;
}

.source-actu {
  font-size: 12px;
  font-weight: normal;
  color: #000000;
  margin-bottom: 20px;
}

.hashtag {
  font-size: 11px;
  font-weight: 500;
  text-transform: uppercase;
  color: #909090;
  border-radius: 3px;
  border: 1px solid #909090;
  background-color: #ffffff;
  padding: 4px;
  margin-right: 10px;
  text-decoration: none;
}

.hashtagCA {
  font-size: 11px;
  font-weight: 500;
  color: #ffffff;
  border-radius: 3px;
  background-color: #909090;
  padding: 4px;
  margin-right: 10px;
}

.separator {
  background-color: #C7C7C7;
}

.no-gutter {
  padding-right: 0 !important;
  padding-left: 0 !important;
  position: fixed;
  height: 100vh;

  .row {
    margin-right: 0;
    margin-left: 0;
    padding-right: 0;
    padding-left: 0;

    .col {
      padding-right: 0;
      padding-left: 0;
    }
  }
}

a:hover {
  text-decoration: none;
}

.separator_4 {
  border-radius: 2px;
  height: 2px;
  margin: 10px auto 10px auto;
  padding: 0;
  width: 100%;
}

.separator_4:last-of-type {
  border-radius: 2px;
  height: 2px;
  margin: 10px auto 0px auto;
  padding: 0;
  width: 100%;
}

.loader-img-green {
  background: url('../../../assets/images/loader-green.svg') no-repeat center;
  padding: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -webkit-animation: spin 1.4s linear infinite;
  animation: spin 1.4s linear infinite;
  margin: auto;
  display: flex;
  margin-top: 280px;
}

.loader-img-white {
  background: url('../../../assets/images/loader-white.svg') no-repeat center;
  padding: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -webkit-animation: spin 1.4s linear infinite;
  animation: spin 1.4s linear infinite;
  margin: auto;
  display: flex;
  margin-top: 280px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader {
  margin-top: 0;
  margin-right: 50%;
  position: absolute;
  width: 100%;
}
