<div class="big-container" (click)="hideDivFavoris($event)">
  <div #divAjoutPortefeuille class="ajout-favoris-portefeuille" [ngStyle]="this.ngStyle">
    <div class="container-portefeuille" (click)="addPortefeuilles()">
      <div
        [ngClass]="{'picto-poubelle' : this.isCurrentEntreprisePresentInPortefeuille,  'picto-portefeuille' : !this.isCurrentEntreprisePresentInPortefeuille}">
      </div>
      <div #divPortefeuille class="ajout-portefeuille">
        <div *ngIf="this.isCurrentEntreprisePresentInPortefeuille">Retirer de mon portefeuille client</div>
        <div *ngIf="!this.isCurrentEntreprisePresentInPortefeuille">Ajouter à mon portefeuille client</div>
      </div>
    </div>
    <div class="container-favoris" (click)="addFavoris()">
      <div
        [ngClass]="{'picto-poubelle' : this.isCurrentEntreprisePresentInFavori, 'picto-favori' : !this.isCurrentEntreprisePresentInFavori}">
      </div>
      <div #divFavori class="ajout-favori">
        <div *ngIf="this.isCurrentEntreprisePresentInFavori">Retirer de mes favoris</div>
        <div *ngIf="!this.isCurrentEntreprisePresentInFavori">Ajouter à mes favoris</div>
      </div>
    </div>
  </div>
  <div class="my-last-search" *ngIf="list.length != 0"><strong>Mes dernières recherches</strong><img alt="fleche"
    src="../../assets/icones/fl-che.svg" class="icone-dropdown {{rotate}}" (click)="showDropDown()"/></div>

  <div class="separator" *ngIf="!isDropDown"></div>

  <div class="container-table" *ngIf="list.length > 0 && isDropDown" (click)="hideDivFavoris($event)">
    <div class="tableContainer">
      <mat-table #table [dataSource]="dataSource" class='table low-margin'>
        <ng-container matColumnDef="raisonSociale">
          <mat-header-cell *matHeaderCellDef>Raison sociale et identifiant local (SIREN...)</mat-header-cell>
          <mat-cell *matCellDef="let item" (click)="search(item)">
            <div class="barre-verte" *ngIf="item.isFavori || item.isPortefeuille">&nbsp;</div>
            <div class="values-cell">
              <div class="etiquettes">
                <div class="favori" *ngIf="item.isFavori">Favori</div>
                <div class="favori" *ngIf="item.isFavori && item.isPortefeuille">&nbsp;|&nbsp;</div>
                <div class="favori" *ngIf="item.isPortefeuille">Client</div>
              </div>
              <div class="raison-sociale">{{item.raisonSociale}}</div>
              <div class="siren">{{item.siret}} {{item.waldec}}</div>
            </div>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="adresse" class="adresse">
          <mat-header-cell class="d-none d-lg-flex" *matHeaderCellDef>Adresse</mat-header-cell>
          <mat-cell class="description-cell d-none d-lg-flex" *matCellDef="let item">
            <div class="adress" *ngIf="item.adresse.voie">{{item.adresse.voie}}</div>
            <div *ngIf="!item.adresse.voie" [ngClass]="{'no-info': !item.adresse.voie}"></div>
            <div class="ville" *ngIf="item.adresse.codePostal && item.adresse.commune">{{item.adresse.codePostal + ' ' +
              item.adresse.commune}}
            </div>
            <div *ngIf="!item.adresse.codePostal && !item.adresse.commune"
                 [ngClass]="{'no-info': !item.adresse.codePostal && !item.adresse.commune}"></div>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="dirigeant">
          <mat-header-cell *matHeaderCellDef>Dirigeant</mat-header-cell>
          <mat-cell class="description-cell" *matCellDef="let item">

            <div *ngIf="item.dirigeant&&item.dirigeant.nom" class="dirigeant">{{item.dirigeant.nom}}</div>
            <div *ngIf="!item.dirigeant||!item.dirigeant.nom" class="no-info no-info-dirigeant"></div>
            <div *ngIf="item.dirigeant" class="dirigeant-info">
              <span *ngIf="item.dirigeant.dateNaissance">Né(e) le : {{item.dirigeant.dateNaissance}}</span>
              <div>
                <span
                  *ngIf="item.dirigeant.dateNaissance&&(item.dirigeant.communeNaissance||item.dirigeant.paysNaissance)">-&nbsp;</span>
                <span
                  *ngIf="item.dirigeant.communeNaissance&&(!item.dirigeant.paysNaissance||item.dirigeant.paysNaissance.toLowerCase()=='france')">{{item.dirigeant.communeNaissance}}</span>
                <span
                  *ngIf="item.dirigeant.paysNaissance&&(!item.dirigeant.communeNaissance||item.dirigeant.paysNaissance.toLowerCase()!='france')">{{item.dirigeant.paysNaissance}}</span>
              </div>
            </div>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="siege">
          <mat-header-cell class="center" *matHeaderCellDef>Siège</mat-header-cell>
          <mat-cell class="description-cell center" *matCellDef="let item">
            <div *ngIf="item.siege" [ngClass]="{'siege' : item.siege}"></div>
            <div *ngIf="!item.siege" class="no-info no-info-siege"></div>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="status">
          <mat-header-cell class="center" *matHeaderCellDef>Statut</mat-header-cell>
          <mat-cell class="description-cell center" *matCellDef="let item">
            <div *ngIf="item.actif || item.ferme"
                 [ngClass]="{'status' : item.actif==true, 'status-closed' : item.ferme==true}"></div>
            <div *ngIf="!item.actif && !item.ferme" class="no-info no-info-statut"></div>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="info-complementaires">
          <mat-header-cell class="center" *matHeaderCellDef>Informations complémentaires</mat-header-cell>
          <mat-cell class="description-cell center" *matCellDef="let item">
            <div class="picto-wrapper">
              <div placement="bottom" [ngClass]="{'blacklist':item.blacklist,'no-info':!item.blacklist}"></div>
              <div placement="bottom" *ngIf="item.score" class="score-groupe"><img class="score-img" alt="score"
                                                                                   src="../../assets/icones/logo_score_ca.svg"><span
                class="score-txt">{{item.score}}</span></div>
              <div *ngIf="!item.score" class="no-info"></div>
              <div placement="bottom" [ngClass]="{'cote-bourse':item.isin,'no-info':!item.isin}"></div>
            </div>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="portefeuille">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell class="description-cell" *matCellDef="let item" (click)="onClickTroisPetitsPoints($event, item)">
            <div class="picto-ajout" [ngClass]="{'selected' : item.isSelected}"></div>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
    </div>
  </div>
  <div class="secondContainer">
    <div class="row">
      <div class="col-12 col-lg-6">
        <div class="loader" *ngIf="!tousLesClients">
          <div class="loader-img-green"></div>
        </div>
        <div class="portefeuille" *ngIf="tousLesClients && tousLesClients.length > 0">
          <p><strong>Mon portefeuille client</strong></p>
          <div *ngFor="let client of tousLesClients">
            <div class="wallet" (click)="allerPageEntreprise(client)">
              <div class="row">
                <div class="col-10 item">
                  <div class="row">
                    <div class="col-12 infos">
                      <p class="name"><strong>{{client.raisonSociale}}</strong><span class="ajout float-right">AJOUT : {{client.date | date:"dd/MM/yyy"}}</span>
                      </p>
                      <p class="siren">{{client.identifiant}}</p>
                    </div>
                  </div>
                  <div class="row bandeau">
                    <div class="col-12 content">
                      <div class="row">
                        <div class="tel col-6">
                          <div class="row">
                            <img src="../../../assets/images/dashboard/img/picto-t-l-phone.svg" alt="tel"/>
                            <div class="numero">{{client.tel}}</div>
                          </div>
                        </div>
                        <div class="mail col-6">
                          <div class="row">
                            <img src="../../../assets/images/picto-mail-copy-9.svg" alt="mail"/>
                            <div class="mail">-</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-2 picto-entreprise-box">
                  <img class="picto-entreprise" src="../../assets/images/picto-entreprise.svg" alt="entreprise"/>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="loader" *ngIf="!tousLesFavoris">
          <div class="loader-img-green"></div>
        </div>
        <div class="favoris" *ngIf="tousLesFavoris && tousLesFavoris.length > 0">
          <p><strong>Mes favoris</strong></p>
          <div class="favs">
            <div class="row">
              <div class="col-6" *ngFor="let favori of tousLesFavoris">
                <div class="fav" (click)="allerPageEntreprise(favori)">
                  <div class="row">
                    <div class="col-10">
                      <p class="name"><strong>{{favori.raisonSociale}}</strong></p>
                      <p class="siren">{{favori.identifiant}}</p>
                      <p class="ajout">AJOUT : {{favori.date | date:"dd/MM/yyy"}}</p>
                    </div>
                    <div class="col-2">
                      <img class="arrow" src="../../assets/images/fleche-accueil.svg" alt="arrow"/>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-6">
        <news></news>
      </div>
    </div>
  </div>
