.big-container {
  position: relative;

  .ajout-favoris-portefeuille {
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../../../assets/images/bulle-favoris.svg');
    display: none;
    width: 273px;
    height: 109px;
    z-index: 3;
    align-content: space-arround;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    .container-portefeuille {
      cursor: pointer;
      display: flex;
      flex-direction: row;
      align-content: space-around;
      width: 100%;
      height: 47px;
      margin-top: 15px;
      align-items: center;
      transition: 0.2s ease-in-out;
      .picto-portefeuille {
        background-image: url('../../../assets/icones/picto-portefeuille-client.svg');
        background-repeat: no-repeat;
        background-size: contain;
        width: 18px;
        height: 14px;
        margin-right: 15px;
        margin-left: 20px;
      }
      .picto-poubelle {
        background-image: url('../../../assets/icones/picto-poubelle.svg');
        background-repeat: no-repeat;
        background-size: contain;
        width: 19px;
        height: 19px;
        margin: 10px 15px 10px 20px;
      }
      .ajout-portefeuille {
        font-size: 13px;
        color: #009f61;
      }
    }
    .container-favoris {
      cursor: pointer;
      display: flex;
      flex-direction: row;
      align-content: space-around;
      width: 100%;
      height: 47px;
      align-items: center;
      margin-bottom: 10px;
      clip-path: rectangle(13px, 10px, 273px, 109px, 5px);
      transition: 0.2s ease-in-out;
      .picto-favori {
        background-image: url('../../../assets/icones/picto-favoris.svg');
        background-repeat: no-repeat;
        background-size: contain;
        width: 19px;
        height: 19px;
        margin: 10px 15px 10px 20px;
      }
      .picto-poubelle {
        background-image: url('../../../assets/icones/picto-poubelle.svg');
        background-repeat: no-repeat;
        background-size: contain;
        width: 19px;
        height: 19px;
        margin: 10px 15px 10px 20px;
      }
      .ajout-favori {
        font-size: 13px;
        color: #009f61;
      }
    }
    .container-favoris:hover {
      background-image: url("../../../assets/images/bulle_roll_favori.png");
      transition: 0.2s ease-in-out;

    }
    .container-portefeuille:hover {
      background-image: url("../../../assets/images/bulle_roll_portefeuille.png");
      transition: 0.2s ease-in-out;
    }
  }
}

.my-last-search {
  margin-left: 9%;
}

.icone-dropdown {
  width: 20px;
  height: 10px;
  object-fit: contain;
  position: absolute;
  right: 10%;
  cursor: pointer;
}

.icone-dropdown-click {
  transform: rotate(0deg);
  transition: all 0s ease;
}

.icone-dropdown-click-2 {
  transform: rotate(180deg);
  transition: all 0s ease;
}

.separator {
  margin: auto;
  margin-top: 1%;
  width: 82%;
  height: 2px;
  object-fit: contain;
  background-color: #c7c7c7;
}

.container-table {

  .filter {
    //background-color: white;
    width: 15%;
    //margin-right: 20px;
  }
  .tableContainer {
    width: 82%;
    margin: 0 auto;

    .search-infos {
      position: absolute;
      height: 20px;
      width: 82%;

      .nb-results {
        display: inline-block;
        font-size: 14px;
        font-weight: bold;
      }

      .result-term {
        display: inline-block;
        font-size: 14px;
      }

      .nb-results-by-page {
        display: inline-block;
        font-size: 14px;
        position: absolute;
        right: 0;
        text-align: right;

        .container {
          display: inline-block;
          position: relative;
          padding-left: 22px;
          margin-bottom: 12px;
          margin-right: 12px;
          cursor: pointer;
          font-size: 14px;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
        }

        /* Hide the browser's default radio button */
        .container input {
          position: absolute;
          opacity: 0;
          cursor: pointer;
        }

        /* Create a custom radio button */
        .checkmark {
          position: absolute;
          top: 0;
          left: 0;
          height: 15px;
          width: 15px;
          background-color: transparent;
          border: #039556 1px solid;
          border-radius: 50%;
        }

        /* On mouse-over, add a grey background color */
        .container:hover input ~ .checkmark {
          background-color: #eee;
        }

        /* When the radio button is checked, add a blue background */
        .container input:checked ~ .checkmark {
          background-color: transparent;
          border: #039556 1px solid;
        }

        /* Create the indicator (the dot/circle - hidden when not checked) */
        .checkmark:after {
          content: "";
          position: absolute;
          display: none;
        }

        /* Show the indicator (dot/circle) when checked */
        .container input:checked ~ .checkmark:after {
          display: block;
        }

        /* Style the indicator (dot/circle) */
        .container .checkmark:after {
          top: 8px;
          left: 8px;
          width: 9px;
          height: 9px;
          border-radius: 50%;
          border: #039556 1px solid;
          background: #039556;
          transform: translate(-6px, -6px);
        }
      }
    }

    .low-margin {
      margin-top: 18px !important;
    }

    .mat-table {
      width: 100%;
      border-collapse: initial;
      border-spacing: 0px;
      margin: 40px auto;
      flex-wrap: wrap;
      background: #D5D5D5;
      border-radius: 5px;

      .mat-header-row {
        background-color: #686868;
        border-radius: 5px 5px 0 0;
        color: white;
        font-size: 13px;
        border-style: none !important;

        .mat-header-cell {
          //display: grid;
          padding: 5px 5px 5px 20px;
          text-align: left;
          min-height: 0;
          height: 51px;
        }
      }

      .mat-column-raisonSociale {
        position: relative;
        flex: 0 0 22%;
      }
      .mat-column-adresse {
        flex: 0 0 22%;
      }
      .mat-column-siege {
        flex: 0 0 10%;
      }
      .mat-column-status {
        flex: 0 0 10%;
      }
      .mat-column-portefeuille {
        align-items: center;
        position: relative;
        flex: 0 0 2%;
        cursor: pointer;
      }

      .mat-row {
        min-height: 65px;
        border-style: none;
        align-items: center;
        margin: 0 2px 0 2px;
        background: white;
        border-radius: 5px;
        border-bottom: #d5d5d5 2px solid;
        cursor: pointer;
        .mat-cell {
          padding: 3px 5px 3px 20px;
          flex-direction: column;
          align-content: flex-start;
          justify-content: center;
          align-items: flex-start;
          font-size: 13px;

          .barre-verte {
            background-color: #009f61;
            width: 6px;
            height: 100%;
            position: absolute;
            left: 0;
          }
          .values-cell {
            flex-direction: column;
            width: 100%;
            height: 100%;
            .etiquettes {
              display: flex;
            }
            .favori {
              color: #009f61;
              font-size: 13px;
            }
            .raison-sociale {
              font-weight: bold;
            }
            .siren {
              font-size: 13px;
              color: #686868;
            }
          }
          .address {
            font-size: 14px;
          }
          .dirigeant {
            font-weight: bold;

          }
          .dirigeant-info {
            font-size: 13px;
            color: #686868;
          }
          .default {
            background-image: url("../../../assets/icones/picto_no_info.svg");
            background-repeat: no-repeat;
            background-size: contain;
            width: 20px;
            height: 20px;
          }
          .siege {
            background-image: url("../../../assets/icones/picto_siege.svg");
            background-repeat: no-repeat;
            background-size: contain;
            width: 20px;
            height: 20px;

            // margin: 10px auto;
          }
          .status {
            background-image: url("../../../assets/icones/picto_statut_actif.svg");
            background-repeat: no-repeat;
            background-size: contain;
            width: 20px;
            height: 20px;
            margin-left: 10px;
          }
          .status-closed {
            background-image: url("../../../assets/icones/picto_statut_ferme.svg");
            background-repeat: no-repeat;
            background-size: contain;
            width: 20px;
            height: 20px;
            margin-left: 10px;
          }
          .picto-wrapper {
            margin: 0 auto;
            width: 100%;
            align-items: center;
            justify-content: center;
            display: flex;
          }
          .picto-wrapper * {
            margin-top: 5px;
            margin-left: 5px;
            display: inline-flex;
            justify-content: center;
            align-content: center;
          }
          .no-info {
            background-image: url("../../../assets/icones/picto_no_info.svg");
            background-repeat: no-repeat;
            width: 5px;
            height: 2px;
            margin-top: 5px;
          }
          .no-info-siege {
            margin-left: 6px;
          }
          .no-info-dirigeant {
            margin-left: 24px;
          }
          .no-info-statut {
            margin-left: 16px;
          }

          .blacklist {
            background-image: url("../../../assets/icones/picto_black_list.svg");
            background-repeat: no-repeat;
            background-size: contain;
            width: 17px;
            height: 22px;
            margin-top: -6px !important
          }

          .score-groupe {
            font-weight: bold;
            height: 22px;
            display: inline-flex;
            .score-txt {
              margin-top: 4px;
              margin-left: 3px;
            }

          }
          .ecoresponsable {
            background-image: url("../../../assets/icones/picto_eco_responsable.svg");
            background-repeat: no-repeat;
            background-size: contain;
            width: 22px;
            height: 19px;
          }
          .cote-bourse {
            background-image: url("../../../assets/icones/picto_bourse.svg");
            background-repeat: no-repeat;
            background-size: contain;
            width: 22px;
            height: 19px;
          }

          .picto-ajout {
            background-image: url("../../../assets/icones/portefeuille-gris.svg");
            background-repeat: no-repeat;
            background-size: contain;
            width: 5px;
            height: 20px;
            position: relative;
          }
          .selected {
            background-image: url('../../../assets/icones/portefeuille.svg');
            background-repeat: no-repeat;
            background-size: contain;
            width: 5px;
            height: 20px;
            position: relative;
          }

          .picto-ajout:hover {
            background-image: url("../../../assets/icones/btn_ajouts_recherche_roll.svg");
          }
        }
        .mat-cell-info-complementaires {
          justify-content: center;
          align-content: center;
        }
        .mat-cell:first-child {
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;
        }
        .mat-cell:last-child {
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
          padding: 10px 20px 8px 5px;
        }
      }
    }
    .paginator-container {
      display: flex;
      float: right;
      .page-number {
        color: #009f61;
        margin-right: 11px;
        font-size: 14px;
        &:hover {
          color: #006545;
          text-decoration: underline;
          cursor: pointer;
        }
      }
      .clicked {
        color: black;
      }
    }

    /deep/ .mat-paginator-page-size {
      display: none !important;
    }

    /deep/ .mat-paginator-range-actions {
      display: none !important;
    }

    table, .table {
      width: 100%;
      border-collapse: initial;
      border-spacing: 0px;
      margin: 40px auto;
      thead, .mat-header-row {
        color: white;
        font-size: 13px;
        tr, .tr {
          flex-direction: row;
          th, .th {
            background-color: #686868;
            padding: 10px 21px;
            text-align: left;
          }
          th:first-child, .th:first-child {
            background-color: #686868;
            border-top-left-radius: 10px;
          }
          th:last-child {
            background-color: #686868;
            border-top-right-radius: 10px;
          }
        }
      }
      tbody {
        tr {
          background-color: #d5d5d5;
          border-radius: 20px;
        }
        td {
          background-color: white;
          padding: 8px 15px;
          border-bottom: #d5d5d5 1pt solid;
          .raison-sociale {
            font-weight: bold;
          }
          .siren {
            font-size: 13px;
            color: #686868;
          }
          .address {
            font-size: 14px;
          }
          .dirigeant {
            font-weight: bold;

          }
          .dirigeant-info {
            font-size: 13px;
            color: #686868;
          }
          .default {
            background-image: url("../../../assets/icones/picto_no_info.svg");
            background-repeat: no-repeat;
            background-size: contain;
            width: 20px;
            height: 20px;
          }
          .siege {
            background-image: url("../../../assets/icones/picto_siege.svg");
            background-repeat: no-repeat;
            background-size: contain;
            width: 20px;
            height: 20px;
            margin: 0 auto;
          }
          .status {
            background-image: url("../../../assets/icones/picto_statut_actif.svg");
            background-repeat: no-repeat;
            background-size: contain;
            width: 20px;
            height: 20px;
            margin: 0 auto;
            margin-left: 4px;
          }
          .status-closed {
            background-image: url("../../../assets/icones/picto_statut_ferme.svg");
            background-repeat: no-repeat;
            background-size: contain;
            width: 20px;
            height: 20px;
            margin: 0 auto;
          }
          .picto-wrapper {
            margin: 0 auto;
          }
          .picto-wrapper * {
            margin: 0 5%;
            display: inline-block;
          }
          .blacklist {
            background-image: url("../../../assets/icones/picto_no_info.svg");
            background-repeat: no-repeat;
            background-size: contain;
            width: 5px;
            height: 2px;
          }
          .note-groupe {
            background-image: url("../../../assets/icones/picto_no_info.svg");
            background-repeat: no-repeat;
            background-size: contain;
            width: 5px;
            height: 2px;
          }
          .score-groupe {
            background-image: url("../../../assets/icones/picto_no_info.svg");
            background-repeat: no-repeat;
            background-size: contain;
            width: 5px;
            height: 2px;
          }
          .ecoresponsable {
            background-image: url("../../../assets/icones/picto_no_info.svg");
            background-repeat: no-repeat;
            background-size: contain;
            width: 5px;
            height: 2px;
          }
          .cote-bourse {
            background-image: url("../../../assets/icones/picto_no_info.svg");
            background-repeat: no-repeat;
            background-size: contain;
            width: 5px;
            height: 2px;
          }
        }
        td:first-child {
          background-color: white;
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;
        }
        td:last-child {
          background-color: white;
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
        }
      }
    }
  }

  .no-result-wrapper {

    width: 57%;
    max-width: 820px;
    min-width: 480px;
    position: absolute;
    margin: 5% 20%;

    .left-bloc {
      width: 50%;
      min-width: 200px;
      height: 216px;
      display: inline-block;
      background-image: url('../../../assets/images/icono-no-result.svg');
      background-repeat: no-repeat;
      background-size: contain;
    }

    .right-bloc {
      display: inline-block;
      width: 50%;

      ul {
        margin-left: 14px;
      }

      li {
        list-style-image: url('../../../assets/icones/bullet.svg');
        font-size: 14px;
      }

      .title {
        font-size: 24px;
        font-weight: bold;
      }
    }
  }
}

/*.center{
    text-align: center !important;
    text-align: -webkit-center !important;
}
*/

.secondContainer {
  width: 82%;
  margin: 56px auto 56px auto;

  .col-6 {
    padding: 0;
  }
  .portefeuille {
    .wallet {
      border-radius: 3px;
      background-color: #ffffff;
      min-height: 120px;
      margin: 0 10px 16px 0;

      @media screen and (max-width: 991px) {
        margin: 0 0 16px 0;
      }

      .row {
        margin: 0;
        .portefeuille {
          padding: 0;
        }
      }
      .item {
        padding: 0;
        .row {
          .infos {
            padding: 12px 10px 0 19px;
          }
        }
        .bandeau {
          height: 42px;
          background-color: rgba(227, 227, 227, 0.5);
          position: absolute;
          width: 100%;
          bottom: 0;
          font-size: 12px;
          .content {
            margin: auto;
            .row {
              .tel {
                .numero {
                  margin-left: 16px;
                }
              }
              .mail {
                .mail {
                  margin-left: 16px;
                }
              }
            }
          }
        }
      }
      .picto-entreprise-box {
        border-left: 2px solid #e3e3e3;
        height: 120px;
      }
      .col-9, .col-3 {
        padding: 0;
      }

      .name {
        object-fit: contain;
        font-family: Roboto, sans-serif;;
        font-size: 14px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.2px;
        margin-bottom: 0;
      }
      .siren {
        height: 15px;
        object-fit: contain;
        font-family: Roboto, sans-serif;;
        font-size: 13px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.2px;
        color: #686868;
        margin-bottom: 10px;
      }
      .client_number {
        height: 14px;
        object-fit: contain;
        font-family: Roboto, sans-serif;;
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.2px;
        color: #009f61;
      }
      .ajout {
        width: 125px;
        height: 21px;
        padding: 4px 9px;
        object-fit: contain;
        border-radius: 3px;
        background-color: #b7d12a;
        font-family: Roboto, sans-serif;;
        font-size: 11px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.2px;
        color: #000000;
      }
      .picto-entreprise {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 46px;
        height: 100%;
        object-fit: contain;
      }
    }
    .wallet:hover {
      box-shadow: 0 0 5px 0 rgba(91, 103, 112, 0.3);
      cursor: pointer;
    }
  }

  .favoris {
    margin-top: 60px;

    .favs {
      margin-top: 10px;
      border-radius: 5px;
      background-color: #ffffff;
      margin-right: 10px;
      padding: 7.5px;
      @media screen and (max-width: 991px) {
        margin-right: 0;
      }

      .row {
        margin: 0;
      }
      .col-6 {
        padding: 2.5px;
      }

      .fav {
        border-radius: 3px;
        border: solid 1px #c7c7c7;
        padding: 22px 22px 22px 20px;

        .row {
          margin: 0;
        }
        .col-10, .col-2 {
          padding: 0;
        }
        .col-2 {
          margin: auto;
        }

        .name {
          object-fit: contain;
          font-family: Roboto, sans-serif;;
          font-size: 14px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 0.2px;
          margin-bottom: 0%;
        }
        .siren {
          height: 15px;
          object-fit: contain;
          font-family: Roboto, sans-serif;;
          font-size: 13px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 0.2px;
          color: #686868;
          margin-bottom: 7px;
        }
        .ajout {
          width: 125px;
          height: 21px;
          padding: 4px 9px;
          object-fit: contain;
          border-radius: 3px;
          background-color: #b7d12a;
          font-family: Roboto, sans-serif;;
          font-size: 11px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 0.2px;
          color: #000000;
          margin-bottom: 0;
        }
        .arrow {
          float: right;
          cursor: pointer;
        }
      }
      .fav:hover {
        box-shadow: 0 0 5px 0 rgba(91, 103, 112, 0.3);
        cursor: pointer;
      }
    }
  }

  .loader-img-green {
    background: url('../../../assets/images/loader-green.svg') no-repeat center;
    padding: 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    -webkit-animation: spin 1.4s linear infinite;
    animation: spin 1.4s linear infinite;
    margin: auto;
    display: flex;
    margin-top: 280px;
  }

  .loader-img-white {
    background: url('../../../assets/images/loader-white.svg') no-repeat center;
    padding: 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    -webkit-animation: spin 1.4s linear infinite;
    animation: spin 1.4s linear infinite;
    margin: auto;
    display: flex;
    margin-top: 280px;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .loader {
    margin-top: 0;
    margin-right: 50%;
    position: absolute;
    width: 100%;
  }
}
