.panel-heading {
  font-weight: bold;
  text-align: center;
  margin-top: 73px;
  height: 42px;
  font-size: 2.3em;
  color: #039556;
}

.search-wrapper {
  position: relative;
  margin: 30px auto;
  display: block;

  .tutorial-hint {
    position: absolute;
    width: 49px;
    height: 49px;
    top: -39px;
    left: -39px;
    background-image: url('../../assets/images/traits.svg');
  }

  .fade-out-hint {
    transition: .5s ease-in-out;
    opacity: 0;
  }

  .fade-out-hint-without-transition {
    opacity: 0;
  }

  .tutorial-hint.hide {
    display: none;
  }

  .input {
    width: 100%;
    box-sizing: border-box;
    padding: 10px 50px 10px 20px;
    border: 1px solid #b7b7b7;
    border-radius: 5px;
    font: normal 16px/normal "Roboto", Times, serif;
    color: #686868;
    font-weight: 300;
    text-overflow: clip;
    background: rgba(252, 252, 252, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    font-style: italic;
  }

  .icon {
    cursor: pointer;
    background-image: url('../../assets/images/picto-recherche.svg');
    background-repeat: no-repeat;
    position: absolute;
    right: 23px;
    top: 10px;
    width: 20px;
    height: 20px;
    transform-origin: center;
  }
}

.translate {
  transform: translateY(6em);
  transition: .5s ease-in-out;
  z-index: 2;
}

.translate-without-transition {
  transform: translateY(6em);
  transition: 0s ease-in-out;
  z-index: 2;
}

.panel-primary {
  border-color: transparent;
}

.panel {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.panel-primary > .panel-heading {
  background-color: transparent;
  border-color: transparent;
}
