<!-- <input name="search" [(ngModel)]="searchTerm" (keyup.enter)="performSearch(searchTerm)">
<div (click)="search($event)">ok</div>

 -->
<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">

      <div class='panel panel-primary'>
        <div class='panel-heading' i18n="@@welcomeMessage">
          Bienvenue {{personFirstName}} !
        </div>
        <div>
          <div class="search-wrapper"
               [ngClass]="{'translate-without-transition' : mode==Mode.empty,'translate': mode==Mode.tutoClosed} ">
            <div class="tutorial-hint" [ngClass]="{'fade-out-hint' : mode==Mode.tutoClosed}"
                 *ngIf="mode==Mode.tuto||mode===Mode.tutoClosed"></div>
            <!--(keyup.enter)="performSearch(searchTerm)"-->
            <input class="input"
                   name="search"
                   [(ngModel)]="searchTerm"
                   i18n-placeholder="@@searchPlaceholder"
                   (keyup.enter)="search(searchTerm)"
                   placeholder="Rechercher par Nom, SIREN, SIRET, WALDEC, Dirigeant, …"/>
            <div (click)="search(searchTerm)" class="icon"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
