<ngb-carousel [interval]="5000" [showNavigationIndicators]="true" [pauseOnHover]="true">
  <ng-template ngbSlide>
    <div class="row">
      <div class="col-6 img-slide img_b left">
        <div class="content-img">
          <p class="title_img">TOTAL BILAN *</p>
          <p class="chiffre_img">{{dashboardKPI.values.totalActifB|kpi:devise}}</p>
          <p class="text_img">{{dashboardKPI.values.totalActifB|unite:devise:annee}} </p>
        </div>
      </div>
      <div class="col-6 img-slide img_tl right">
        <div class="content-img">
          <p class="title_img">Compte de résultat - Résultat de l’exercice *</p>
          <p class="chiffre_img">{{dashboardKPI.values.resultatExer|kpi:devise}}</p>
          <p class="text_img">{{dashboardKPI.values.resultatExer|unite:devise:annee}} </p>
        </div>
      </div>
      <div *ngIf="!dashboardBilan.values" class="col-12 img-slide img_b">
        <div class="img_download">
          <img class="download" src="../../../assets/images/dashboard/img/download.svg" alt="download"/>
        </div>
        <div class="content-img pdf">
          <p class="title_img">Dernier bilan déposé</p>
          <p class="text_img_1">Nous n'avons pas le dernier bilan complet de cet établissement</p>
        </div>
      </div>
      <div *ngIf="dashboardBilan.values" class="col-12 img-slide img_b">
        <div class="img_download">
          <img class="download" src="../../../assets/images/dashboard/img/download.svg" alt="download"/>
        </div>
        <div class="content-img pdf">
          <p class="title_img">Dernier bilan déposé au greffe</p>
          <p class="text_img_1">{{getDateBilan(dashboardBilan.values.bilans.value.date) | date: 'dd/MM/yyyy'}}</p>
          <p class="text_img_2 text_img_2_no_margin">Comptes annuels complets</p>
          <p><a href="{{dashboardBilan.values.bilans.value.nomPdf}}" class="text_img_3" download="test.pdf"
                target="_blank">Télécharger</a></p>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="row">
      <div class="col-6 img-slide img_b left">
        <div class="content-img">
          <p class="title_img">ACTIF - Créances sur les Ets de crédit *</p>
          <p class="chiffre_img">{{dashboardKPI.values.actifCreanceEts|kpi:devise}}</p>
          <p class="text_img">{{dashboardKPI.values.actifCreanceEts|unite:devise:annee}}</p>
        </div>
      </div>
      <div class="col-6 img-slide img_tl right">
        <div class="content-img">
          <p class="title_img">PASSIF - Dettes envers les Ets de crédit *</p>
          <p class="chiffre_img">{{dashboardKPI.values.passifDette|kpi:devise}}</p>
          <p class="text_img">{{dashboardKPI.values.passifDette|unite:devise:annee}}</p>
        </div>
      </div>
      <div class="col-6 img-slide img_tr left">
        <div class="content-img">
          <p class="title_img">ACTIF - Créances sur la clientèle *</p>
          <p class="chiffre_img">{{dashboardKPI.values.actifCreanceClient|kpi:devise}}</p>
          <p class="text_img">{{dashboardKPI.values.actifCreanceClient|unite:devise:annee}}</p>
        </div>
      </div>
      <div class="col-6 img-slide img_b right">
        <div class="content-img">
          <p class="title_img">PASSIF - Comptes créditeurs à la clientèle *</p>
          <p class="chiffre_img">{{dashboardKPI.values.passifCompte|kpi:devise}}</p>
          <p class="text_img">{{dashboardKPI.values.passifCompte|unite:devise:annee}}</p>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="row">
      <div class="col-6 img-slide img_b left">
        <div class="content-img">
          <p class="title_img">PASSIF - Capital souscrit *</p>
          <p class="chiffre_img">{{dashboardKPI.values.passifCapital|kpi:devise}}</p>
          <p class="text_img">{{dashboardKPI.values.passifCapital|unite:devise:annee}}</p>
        </div>
      </div>
      <div class="col-6 img-slide img_tl right">
        <div class="content-img">
          <p class="title_img">PASSIF - Primes d’émission *</p>
          <p class="chiffre_img">{{dashboardKPI.values.passifPrime|kpi:devise}}</p>
          <p class="text_img">{{dashboardKPI.values.passifPrime|unite:devise:annee}}</p>
        </div>
      </div>
      <div class="col-6 img-slide img_tr left">
        <div class="content-img">
          <p class="title_img">PASSIF - Réserves *</p>
          <p class="chiffre_img">{{dashboardKPI.values.passifReserve|kpi:devise}}</p>
          <p class="text_img">{{dashboardKPI.values.passifReserve|unite:devise:annee}}</p>
        </div>
      </div>
      <div class="col-6 img-slide img_b right">
        <div class="content-img">
          <p class="title_img">PASSIF - Report à nouveau *</p>
          <p class="chiffre_img">{{dashboardKPI.values.passifReport|kpi:devise}}</p>
          <p class="text_img">{{dashboardKPI.values.passifReport|unite:devise:annee}}</p>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="row">
      <div class="col-6 img-slide img_b left">
        <div class="content-img">
          <p class="title_img">PASSIF - Ecarts de réévaluation *</p>
          <p class="chiffre_img">{{dashboardKPI.values.passifEcart|kpi:devise}}</p>
          <p class="text_img">{{dashboardKPI.values.passifEcart|unite:devise:annee}}</p>
        </div>
      </div>
      <div class="col-6 img-slide img_tl right">
        <div class="content-img">
          <p class="title_img">Compte de résultat - Intérêts et produits assimilés *</p>
          <p class="chiffre_img">{{dashboardKPI.values.interetProduitAssim|kpi:devise}}</p>
          <p class="text_img">{{dashboardKPI.values.interetProduitAssim|unite:devise:annee}}</p>
        </div>
      </div>
      <div class="col-6 img-slide img_tr left">
        <div class="content-img">
          <p class="title_img">Compte de résultat - Intérêts et charges assimilées *</p>
          <p class="chiffre_img">{{dashboardKPI.values.interetChargeAssim|kpi:devise}}</p>
          <p class="text_img">{{dashboardKPI.values.interetChargeAssim|unite:devise:annee}}</p>
        </div>
      </div>
      <div class="col-6 img-slide img_b right">
        <div class="content-img">
          <p class="title_img">&nbsp;</p>
          <p class="chiffre_img">&nbsp;</p>
          <p class="text_img">&nbsp;</p>
        </div>
      </div>
    </div>
  </ng-template>
</ngb-carousel>
<p class="compte-annuel">* Compte annuel Banque</p>
