<ngb-carousel [interval]="5000" [showNavigationIndicators]="true" [pauseOnHover]="true">
  <ng-template ngbSlide>
    <div class="row">
      <div class="col-6 img-slide img_b left">
        <div class="content-img">
          <p class="title_img">Total Bilan *</p>
          <p class="chiffre_img">{{dashboardKPI.values.totalBilanK|kpi:devise}}</p>
          <p class="text_img">{{dashboardKPI.values.totalBilanK|unite:devise:annee}} </p>
        </div>
      </div>
      <div class="col-6 img-slide img_tl right">
        <div class="content-img">
          <p class="title_img">Chiffres d’affaires nets *</p>
          <p class="chiffre_img">{{dashboardKPI.values.chiffreAffaireK|kpi:devise}}</p>
          <p class="text_img">{{dashboardKPI.values.chiffreAffaireK|unite:devise:annee}} </p>
        </div>
      </div>
      <div *ngIf="!dashboardBilan.values" class="col-12 img-slide img_b">
        <div class="img_download">
          <img class="download" src="../../../assets/images/dashboard/img/download.svg" alt="download"/>
        </div>
        <div class="content-img pdf">
          <p class="title_img">Dernier bilan déposé</p>
          <p class="text_img_1">Nous n'avons pas le dernier bilan complet de cet établissement</p>
        </div>
      </div>
      <div *ngIf="dashboardBilan.values" class="col-12 img-slide img_b">
        <div class="img_download">
          <img class="download" src="../../../assets/images/dashboard/img/download.svg" alt="download"/>
        </div>
        <div class="content-img pdf">
          <p class="title_img">Dernier bilan déposé au greffe</p>
          <p class="text_img_1">{{getDateBilan(dashboardBilan.values.bilans.value.date) | date: 'dd/MM/yyyy'}}</p>
          <p class="text_img_2 text_img_2_no_margin">Comptes annuels complets</p>
          <p><a href="{{dashboardBilan.values.bilans.value.nomPdf}}" class="text_img_3" download="test.pdf"
                target="_blank">Télécharger</a></p>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="row">
      <div class="col-6 img-slide img_b left">
        <div class="content-img">
          <p class="title_img">Clients et comptes rattachés *</p>
          <p class="chiffre_img">{{dashboardKPI.values.clientCompteRattacheK|kpi:devise}}</p>
          <p class="text_img">{{dashboardKPI.values.clientCompteRattacheK|unite:devise:annee}}</p>
        </div>
      </div>
      <div class="col-6 img-slide img_tl right">
        <div class="content-img">
          <p class="title_img">Dettes fournisseurs et comptes rattachés *</p>
          <p class="chiffre_img">{{dashboardKPI.values.detteFournisseurK|kpi:devise}}</p>
          <p class="text_img">{{dashboardKPI.values.detteFournisseurK|unite:devise:annee}}</p>
        </div>
      </div>
      <div class="col-6 img-slide img_tr left">
        <div class="content-img">
          <p class="title_img">Emprunts et dettes auprès des établissements de crédit *</p>
          <p class="chiffre_img">{{dashboardKPI.values.empruntDettes|kpi:devise}}</p>
          <p class="text_img">{{dashboardKPI.values.empruntDettes|unite:devise:annee}}</p>
        </div>
      </div>
      <div class="col-6 img-slide img_b right">
        <div class="content-img">
          <p class="title_img">Disponibilités *</p>
          <p class="chiffre_img">{{dashboardKPI.values.disponibiliteK|kpi:devise}}</p>
          <p class="text_img">{{dashboardKPI.values.disponibiliteK|unite:devise:annee}}</p>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="row">
      <div class="col-6 img-slide img_b left">
        <div class="content-img">
          <p class="title_img">Total Immobilisation *</p>
          <p class="chiffre_img">{{dashboardKPI.values.totalImmoK|kpi:devise}}</p>
          <p class="text_img">{{dashboardKPI.values.totalImmoK|unite:devise:annee}}</p>
        </div>
      </div>
      <div class="col-6 img-slide img_tl right">
        <div class="content-img">
          <p class="title_img">Dotation aux amortissements des écarts d’acquisition *</p>
          <p class="chiffre_img">{{dashboardKPI.values.dotationK|kpi:devise}}</p>
          <p class="text_img">{{dashboardKPI.values.dotationK|unite:devise:annee}}</p>
        </div>
      </div>
      <div class="col-6 img-slide img_tr left">
        <div class="content-img">
          <p class="title_img">Résultat d'exploitation *</p>
          <p class="chiffre_img">{{dashboardKPI.values.resultatExploitK|kpi:devise}}</p>
          <p class="text_img">{{dashboardKPI.values.resultatExploitK|unite:devise:annee}}</p>
        </div>
      </div>
      <div class="col-6 img-slide img_b right">
        <div class="content-img">
          <p class="title_img">Résultat exceptionnel *</p>
          <p class="chiffre_img">{{dashboardKPI.values.resultatExceptionnel|kpi:devise}}</p>
          <p class="text_img">{{dashboardKPI.values.resultatExceptionnel|unite:devise:annee}}</p>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="row">
      <div class="col-6 img-slide img_b left">
        <div class="content-img">
          <p class="title_img">Résultat net des entreprises intégrées *</p>
          <p class="chiffre_img">{{dashboardKPI.values.resultatNetEntreprise|kpi:devise}}</p>
          <p class="text_img">{{dashboardKPI.values.resultatNetEntreprise|unite:devise:annee}}</p>
        </div>
      </div>
      <div class="col-6 img-slide img_tl right">
        <div class="content-img">
          <p class="title_img">Résultat Groupe (Résultat net consolidé) *</p>
          <p class="chiffre_img">{{dashboardKPI.values.resultatGroupe|kpi:devise}}</p>
          <p class="text_img">{{dashboardKPI.values.resultatGroupe|unite:devise:annee}}</p>
        </div>
      </div>
      <div class="col-6 img-slide img_tr left">
        <div class="content-img">
          <p class="title_img">Résultat consolidé part du groupe *</p>
          <p class="chiffre_img">{{dashboardKPI.values.resultatConsolide|kpi:devise}}</p>
          <p class="text_img">{{dashboardKPI.values.resultatConsolide|unite:devise:annee}}</p>
        </div>
      </div>
      <div class="col-6 img-slide img_b right">
        <div class="content-img">
          <p class="title_img">Part des intérêts minoritaires (Résultat hors groupe) *</p>
          <p class="chiffre_img">{{dashboardKPI.values.partInteretMinoritaire|kpi:devise}}</p>
          <p class="text_img">{{dashboardKPI.values.partInteretMinoritaire|unite:devise:annee}}</p>
        </div>
      </div>
    </div>
  </ng-template>
</ngb-carousel>
<p class="compte-annuel">* Compte annuel consolidé</p>
