.no-gutters {
  padding: 0;
}

.padding-20 {
  padding: 0 20px;
}

.center {
  text-align: center;
}

.wrapper {
  display: inline-block;
  height: auto;
  margin: 40px 0;
  width: 270px;
  line-height: 50%;

  &.isFilterFix {
    .filter {
      position: fixed;
      top: 10px;
    }
  }

  .filter {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(91, 103, 112, 0.3);
    width: 190px;
    display: inline-block;
    padding: 0 0 20px 0;
    margin-left: 40px;

    .headband {
      border-bottom: 2px solid #E3E3E3;
      margin: 0;
      font-size: 14px;
      font-weight: bold;
      text-align: left;
      padding: 20px 20px;
      height: 56px;

      p {
        margin-bottom: 0;
      }
    }

    .btn-erase-filter {
      font-size: 12px;
      color: #000000;
      background-color: #E3E3E3;
      border-radius: 3px;
      position: relative;
      border: none;
      margin: 10px 0 7px 0;
      padding: 11px;
      cursor: pointer;
    }

    .separator {
      width: 100%;
      height: 2px;
      border-radius: 2px;
      background-color: #E3E3E3;
      margin: 20px auto;
    }

    .siren {
      margin-top: 18px;
      font-size: 12px;
      margin-bottom: 8px;
    }

    .searchbox {
      border: solid 1px #C7C7C7;
      border-radius: 3px;
      height: 30px;
      margin: 0 auto;
      padding: 0 10px;
      width: 100%;
      font-size: 12px;
    }

    .state-container-dropdown {
      line-height: normal;
      font-size: 12px;
      z-index: 1;
      width: 97%;
      max-height: 100px;
      background: white;
      overflow-y: auto;
      border: solid 1px #C7C7C7;
      box-shadow: 0 5px 5px 0 rgba(91, 103, 112, 0.4);
    }

    .filter-subtitles {
      margin-top: 18px;
      font-size: 12px;
      font-weight: bold;
      text-transform: uppercase;
    }

    .content-checkbox {
      display: block;
      .text {
        display: inline-block;
        font-size: 12px;
        font-weight: normal;
      }

      .checkbox {
        width: 16px;

      }
    }

    .champ-filter {
      margin-bottom: 16px;

      .text {
        font-size: 12px;
        font-weight: normal;
        margin-bottom: 8px;
      }
    }

    .element {
      cursor: pointer;
    }

    .element:hover {
      background: #eae8e6;
    }

  }
}

.btn-valid {
  text-align: center;
}

.btn-valid-filter {
  text-transform: uppercase;
  font-size: 16px;
  color: #ffffff;
  background-color: #009F61;
  padding: 15px 20px;
  border-radius: 5px;
  position: relative;
  border: none;
  margin: 20px 0 0 0;
}
