<div class="wrapper" [class.isFilterFix]="isFilterFix">
  <div class="container">
    <div class='row filter'>
      <div class='col-12 no-gutters'>
        <div class='headband'>
          <p>Filtrer ma recherche</p>
        </div>
      </div>

      <div class='col-12 padding-20'>
        <div class="center">
          <button class="btn-erase-filter" (click)="eraseFilter()" *ngIf="!showFilters()">Effacer tous les filtres x
          </button>
        </div>

        <p class="siren">SIREN, SIRET, RNA, ...</p>

        <input class='searchbox' (click)='toggleDropDownSiret(); $event.stopPropagation();' [(ngModel)]='filters.siret'
               placeholder="Ex: 780 129 987 03591">
        <div class="state-container-dropdown" *ngIf="showDropDownSiret" clickOutside
             (outside)='toggleDropDownSiret($event)'>
          <div class='element'
               *ngFor="let entreprise of list | orderFilter:'siret': list | autocompleteFilter:getSearchValue('siret'):'siret'"
               (click)="selectValueFromDropDown('siret', entreprise)">
            {{entreprise.siret}}{{entreprise.waldec}}
          </div>
        </div>

        <div class="separator"></div>

        <p class="filter-subtitles">Par typologie</p>

        <div class="content-checkbox">
          <label class="batica-checkbox-container"><p class="text">EIRL</p>
            <input type="checkbox" [(ngModel)]='filters.eirl'>
            <span class="checkmark"></span>
          </label>
        </div>
        <div class="content-checkbox">
          <label class="batica-checkbox-container"><p class="text">Siège</p>
            <input type="checkbox" [(ngModel)]='filters.siege'>
            <span class="checkmark"></span>
          </label>
        </div>
        <div class="content-checkbox">
          <label class="batica-checkbox-container"><p class="text">Actif</p>
            <input type="checkbox" checked="checked" [(ngModel)]='filters.actif' [disabled]="filters.ferme">
            <span class="checkmark"></span>
          </label>
        </div>
        <div class="content-checkbox">
          <label class="batica-checkbox-container"><p class="text">Fermé</p>
            <input type="checkbox" checked="checked" [(ngModel)]='filters.ferme' [disabled]="filters.actif">
            <span class="checkmark"></span>
          </label>
        </div>

        <div class="separator"></div>

        <p class="filter-subtitles">Par localisation</p>

        <div class="champ-filter">
          <p class="text">Ville</p>
          <input class="searchbox" type="champ" (click)='toggleDropDownCommune(); $event.stopPropagation();'
                 placeholder="Ex: Paris" [(ngModel)]='filters.commune'>
          <div class="state-container-dropdown" *ngIf="showDropDownCommune" clickOutside
               (outside)='toggleDropDownCommune($event)'>
            <div>
              <div class='element'
                   *ngFor="let entreprise of list | orderFilter:'commune': list | autocompleteFilter:getSearchValue('commune'):'commune'"
                   (click)="selectValueFromDropDown('commune', entreprise)">
                {{entreprise.adresse["commune"] | titlecase }}
              </div>
            </div>
          </div>
        </div>

        <div class="champ-filter">
          <p class="text">Code postal</p>
          <input class="searchbox" type="champ" (click)='toggleDropDownCodePostal(); $event.stopPropagation();'
                 placeholder="Ex: 75 014" [(ngModel)]='filters.codePostal'>
          <div class="state-container-dropdown" *ngIf="showDropDownCodePostal" clickOutside
               (outside)='toggleDropDownCodePostal($event)'>
            <div>
              <div class='element'
                   *ngFor="let entreprise of list | orderFilter:'codePostal': list | autocompleteFilter:getSearchValue('codePostal'):'codePostal'"
                   (click)="selectValueFromDropDown('codePostal', entreprise)">
                {{entreprise.adresse["codePostal"]}}
              </div>
            </div>
          </div>
        </div>

        <div class="btn-valid" (click)="sendFilters()">
          <button class="btn-valid-filter">Valider</button>
        </div>
      </div>
    </div>
  </div>
</div>
