.panel-heading {
  font-weight: bold;
  text-align: center;
  margin-top: 73px;
  height: 42px;
  font-size: 2.3em;
  color: #039556;
}

.loader-img-green {
  background: url('../assets/images/loader-green.svg') no-repeat center;
  padding: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -webkit-animation: spin 1.4s linear infinite;
  animation: spin 1.4s linear infinite;
  margin: auto;
  display: flex;
  margin-top: 280px;
}

.loader-img-white {
  background: url('../assets/images/loader-white.svg') no-repeat center;
  padding: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -webkit-animation: spin 1.4s linear infinite;
  animation: spin 1.4s linear infinite;
  margin: auto;
  display: flex;
  margin-top: 280px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  margin-top: 0;
  margin-right: 50%;
  position: absolute;
  width: 100%;
}

.blur-effect {
  filter: blur(3px);
}

/deep/ .batica-button {
  background-color: #009f61;
  object-fit: contain;
  border-radius: 5px;
  color: white;
  padding: 16px 12px;
  cursor: pointer;

}

.breadcrumb {
  padding: 7px 0 12px 29px;
  background-color: #5b6770;

  li {
    display: inline;

    + li:after {
      content: " > ";
      color: white;
      font-size: 12px;
    }

    a {
      color: white;
      font-size: 12px;
      text-decoration: underline;
      font-weight: 300;
    }
  }

  li:first-of-type {
    a {
      text-decoration: none;
    }
  }
}
