<!--The content below is only a placeholder and can be replaced.-->
<!-- <nav>
  <a routerLink="/list" routerLinkActive="active">List</a>
</nav>
*ngIf="this.isOnboardingAffiche"
-->
<app-onboarding (OnHideOnBoarding)="clickButton($event)" *ngIf="this.isOnboardingAffiche"></app-onboarding>
<div [ngClass]="{'blur-effect' : this.isOnboardingAffiche, '' : !this.isOnboardingAffiche}">
  <header></header>

  <div class="loader" *ngIf="loading">
    <div class="loader-img-green"></div>
  </div>
  <breadcrumb></breadcrumb>
  <router-outlet></router-outlet>
</div>
