<ngb-carousel [interval]="5000" [showNavigationIndicators]="true" [pauseOnHover]="true">
  <ng-template ngbSlide>
    <div class="row">
      <div class="col-6 img-slide img_b left">
        <div class="content-img">
          <p class="title_img">Effectif moyen *</p>
          <p class="chiffre_img">{{dashboardKPI.values.effectif|kpi:''}}</p>
          <p class="text_img">{{dashboardKPI.values.effectif|unite:'salariés':annee:true}} </p>
        </div>
      </div>
      <div class="col-6 img-slide img_tl right">
        <div class="content-img">
          <p class="title_img">Total bilan *</p>
          <p class="chiffre_img">{{dashboardKPI.values.totalBilan|kpi:devise}}</p>
          <p class="text_img">{{dashboardKPI.values.totalBilan|unite:devise:annee}} </p>
        </div>
      </div>
      <div *ngIf="!dashboardBilan.values" class="col-12 img-slide img_b">
        <div class="img_download">
          <img class="download" src="../../../assets/images/dashboard/img/download.svg" alt="download"/>
        </div>
        <div class="content-img pdf">
          <p class="title_img">Dernier bilan déposé</p>
          <p class="text_img_1">Nous n'avons pas le dernier bilan complet de cet établissement</p>
        </div>
      </div>
      <div *ngIf="dashboardBilan.values" class="col-12 img-slide img_b">
        <div class="img_download">
          <img class="download" src="../../../assets/images/dashboard/img/download.svg" alt="download"/>
        </div>
        <div class="content-img pdf">
          <p class="title_img">Dernier bilan déposé au greffe</p>
          <p class="text_img_1">{{getDateBilan(dashboardBilan.values.bilans.value.date) | date: 'dd/MM/yyyy'}}</p>
          <p class="text_img_2 text_img_2_no_margin">Comptes annuels complets</p>
          <p><a href="{{dashboardBilan.values.bilans.value.nomPdf}}" class="text_img_3" download="test.pdf"
                target="_blank">Télécharger</a></p>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="row">
      <div class="col-6 img-slide img_b left">
        <div class="content-img">
          <p class="title_img">Chiffre d'affaires *</p>
          <p class="chiffre_img">{{dashboardKPI.values.chiffreAffaire|kpi:devise}}</p>
          <p class="text_img">{{dashboardKPI.values.chiffreAffaire|unite:devise:annee}}</p>
        </div>
      </div>
      <div class="col-6 img-slide img_tl right">
        <div class="content-img">
          <p class="title_img">Chiffre d'affaires Export *</p>
          <p class="chiffre_img">{{dashboardKPI.values.chiffreAffaireExport|kpi:devise}}</p>
          <p class="text_img">{{dashboardKPI.values.chiffreAffaireExport|unite:devise:annee}}</p>
        </div>
      </div>
      <div class="col-6 img-slide img_tr left">
        <div class="content-img">
          <p class="title_img">Différences positives de change *</p>
          <p class="chiffre_img">{{dashboardKPI.values.diffPositiveChange|kpi:devise}}</p>
          <p class="text_img">{{dashboardKPI.values.diffPositiveChange|unite:devise:annee}}</p>
        </div>
      </div>
      <div class="col-6 img-slide img_b right">
        <div class="content-img">
          <p class="title_img">Différences négatives de change *</p>
          <p class="chiffre_img">{{dashboardKPI.values.diffNegativeChange|kpi:devise}}</p>
          <p class="text_img">{{dashboardKPI.values.diffNegativeChange|unite:devise:annee}}</p>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="row">
      <div class="col-6 img-slide img_b left">
        <div class="content-img">
          <p class="title_img">Créances  Clients et comptes rattachés *</p>
          <p class="chiffre_img">{{dashboardKPI.values.actifDontClient|kpi:devise}}</p>
          <p class="text_img">{{dashboardKPI.values.actifDontClient|unite:devise:annee}}</p>
        </div>
      </div>
      <div class="col-6 img-slide img_tl right">
        <div class="content-img">
          <p class="title_img">Dettes fournisseurs et comptes rattachés *</p>
          <p class="chiffre_img">{{dashboardKPI.values.detteFournisseur|kpi:devise}}</p>
          <p class="text_img">{{dashboardKPI.values.detteFournisseur|unite:devise:annee}}</p>
        </div>
      </div>
      <div class="col-6 img-slide img_tr left">
        <div class="content-img">
          <p class="title_img">Emprunts & dettes auprès étab Crédit *</p>
          <p class="chiffre_img">{{dashboardKPI.values.detteDU|kpi:devise}}</p>
          <p class="text_img">{{dashboardKPI.values.detteDU|unite:devise:annee}}</p>
        </div>
      </div>
      <div class="col-6 img-slide img_b right">
        <div class="content-img">
          <p class="title_img">Engagement de Crédit Bail Mobilier *</p>
          <p class="chiffre_img">{{dashboardKPI.values.creditBail|kpi:devise}}</p>
          <p class="text_img">{{dashboardKPI.values.creditBail|unite:devise:annee}}</p>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="row">
      <div class="col-6 img-slide img_b left">
        <div class="content-img">
          <p class="title_img">Resultat d'exploitation *</p>
          <p class="chiffre_img">{{dashboardKPI.values.resultatExploitation|kpi:devise}}</p>
          <p class="text_img">{{dashboardKPI.values.resultatExploitation|unite:devise:annee}}</p>
        </div>
      </div>
      <div class="col-6 img-slide img_tl right">
        <div class="content-img">
          <p class="title_img">Bénéfice ou perte *</p>
          <p class="chiffre_img">{{dashboardKPI.values.beneficePerte|kpi:devise}}</p>
          <p class="text_img">{{dashboardKPI.values.beneficePerte|unite:devise:annee}}</p>
        </div>
      </div>
      <div class="col-6 img-slide img_tr left">
        <div class="content-img">
          <p class="title_img">Valeurs mobilières de placement *</p>
          <p class="chiffre_img">{{dashboardKPI.values.actifDontVM|kpi:devise}}</p>
          <p class="text_img">{{dashboardKPI.values.actifDontVM|unite:devise:annee}}</p>
        </div>
      </div>
      <div class="col-6 img-slide img_b right">
        <div class="content-img">
          <p class="title_img">Total fonds propres *</p>
          <p class="chiffre_img">{{dashboardKPI.values.totalFondPropre|kpi:devise}}</p>
          <p class="text_img">{{dashboardKPI.values.totalFondPropre|unite:devise:annee}}</p>
        </div>
      </div>
    </div>
  </ng-template>
</ngb-carousel>
<p class="compte-annuel">* Compte annuel réel normal</p>
