<batica-search-box></batica-search-box>
<div class='container-table' (click)="hideDivFavoris($event)" *ngIf="!loading">
  <div #divAjoutPortefeuille class="ajout-favoris-portefeuille" [ngStyle]="this.ngStyle">
    <div class="container-portefeuille" (click)="addPortefeuilles()">
      <div
        [ngClass]="{'picto-poubelle' : this.isCurrentEntreprisePresentInPortefeuille, 'picto-portefeuille' : !this.isCurrentEntreprisePresentInPortefeuille}">
      </div>
      <div #divPortefeuille class="ajout-portefeuille">
        <div *ngIf="this.isCurrentEntreprisePresentInPortefeuille">Retirer de mon portefeuille client</div>
        <div *ngIf="!this.isCurrentEntreprisePresentInPortefeuille">Ajouter à mon portefeuille client</div>
      </div>
    </div>
    <div class="container-favoris" (click)="addFavoris()">
      <div
        [ngClass]="{'picto-poubelle' : this.isCurrentEntreprisePresentInFavori, 'picto-favori' : !this.isCurrentEntreprisePresentInFavori}">
      </div>
      <div #divFavori class="ajout-favori">
        <div *ngIf="this.isCurrentEntreprisePresentInFavori">Retirer de mes favoris</div>
        <div *ngIf="!this.isCurrentEntreprisePresentInFavori">Ajouter à mes favoris</div>
      </div>
    </div>
  </div>

  <filter (filterChanged)="filterList($event)" [list]='list' [filteredList]='filteredList' *ngIf="showFilterBloc()"
          [isFilterFix]="isFilterFix"></filter>
  <div class="no-results-filter" *ngIf="filteredList.length == 0 && list.length != 0"><strong>Il n'y a aucun résultat pour le
    ou les filtre(s) appliqué(s). Pour afficher de nouveau vos résultats de recherche, veuillez cliquer sur "effacer
    tous les filtres".</strong></div>
  <div class="tableContainer" *ngIf="filteredList.length > 0">
    <div class="row search-infos">
      <div class="col-xs-6">
        <div class="nb-results" *ngIf="!filterOff()">{{filteredList.length}} résultats affichés sur {{list.length}}
        </div>
        <div class="nb-results" *ngIf="filterOff()">{{filteredList.length}} résultats</div>
        &nbsp;
        <div class="result-term">pour "{{searchTerm}}"</div>
      </div>
      <div class="col-xs-6">
        <div class="nb-results-by-page">Nombre de résultats par page :
          <label class="select-nb" *ngFor='let page of pageSizeOptions'>{{page}}
            <input type="radio" [checked]="true" [value]="page" [(ngModel)]="nbResults" (click)="refreshTable(page)">
            <span class="checkmark"></span>
          </label>
        </div>
      </div>
    </div>

    <mat-table #table [dataSource]="dataSource" class='table'>
      <ng-container matColumnDef="raisonSociale">
        <mat-header-cell *matHeaderCellDef>Raison sociale et identifiant local (SIREN...)</mat-header-cell>
        <mat-cell *matCellDef="let item" (click)="addCompanyHistorySearch(item)">
          <div class="barre-verte" *ngIf="item.isFavori || item.isPortefeuille">&nbsp;</div>
          <div class="values-cell">
            <div class="etiquettes">
              <div class="favori" *ngIf="item.isFavori">Favori</div>
              <div class="favori" *ngIf="item.isFavori && item.isPortefeuille">&nbsp;|&nbsp;</div>
              <div class="favori" *ngIf="item.isPortefeuille">Client</div>
            </div>
            <div class="raison-sociale">{{item.raisonSociale}}</div>
            <div class="siren">{{item.siret}} {{item.waldec}}</div>
          </div>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="adresse" class="adresse">
        <mat-header-cell class="d-none d-lg-flex" *matHeaderCellDef>Adresse</mat-header-cell>
        <mat-cell class="description-cell d-none d-lg-flex" *matCellDef="let item"
                  (click)="addCompanyHistorySearch(item)">

          <div class="adress" *ngIf="item.adresse.voie">{{item.adresse.voie}}</div>
          <div *ngIf="!item.adresse.voie && item.adresse.codePostal && item.adresse.commune"
               [ngClass]="{'no-info': !item.adresse.voie && item.adresse.codePostal && item.adresse.commune}"></div>
          <div class="ville" *ngIf="item.adresse.codePostal && item.adresse.commune">{{item.adresse.codePostal}}
            {{item.adresse.commune}}
          </div>
          <div *ngIf="!item.adresse.codePostal && !item.adresse.commune && item.adresse.voie"
               [ngClass]="{'no-info': !item.adresse.codePostal && !item.adresse.commune && item.adresse.voie}"></div>
          <div *ngIf="!item.adresse.voie && !item.adresse.codePostal && !item.adresse.commune"
               [ngClass]="{'no-info': !item.adresse.voie && !item.adresse.codePostal && !item.adresse.commune}"></div>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="dirigeant">
        <mat-header-cell *matHeaderCellDef>Dirigeant</mat-header-cell>
        <mat-cell class="description-cell" *matCellDef="let item" (click)="addCompanyHistorySearch(item)">

          <div *ngIf="item.dirigeant&&item.dirigeant.nom" class="dirigeant">{{item.dirigeant.nom}}</div>
          <div *ngIf="!item.dirigeant||!item.dirigeant.nom" class="no-info no-info-dirigeant"></div>
          <div *ngIf="item.dirigeant" class="dirigeant-info">
            <span *ngIf="item.dirigeant.dateNaissance">Né(e) le : {{item.dirigeant.dateNaissance}}</span>
            <div>
              <span
                *ngIf="item.dirigeant.dateNaissance&&(item.dirigeant.communeNaissance||item.dirigeant.paysNaissance)">-&nbsp;</span>
              <span
                *ngIf="item.dirigeant.communeNaissance&&(!item.dirigeant.paysNaissance||item.dirigeant.paysNaissance.toLowerCase()=='france')">{{item.dirigeant.communeNaissance}}</span>
              <span
                *ngIf="item.dirigeant.paysNaissance&&(!item.dirigeant.communeNaissance||item.dirigeant.paysNaissance.toLowerCase()!='france')">{{item.dirigeant.paysNaissance}}</span>
            </div>
          </div>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="siege">
        <mat-header-cell class="center" *matHeaderCellDef>Siège</mat-header-cell>
        <mat-cell class="description-cell center" *matCellDef="let item" (click)="addCompanyHistorySearch(item)">
          <div *ngIf="item.siege" [ngClass]="{'siege' : item.siege}"></div>
          <div *ngIf="!item.siege" class="no-info no-info-siege"></div>
        </mat-cell>

      </ng-container>
      <ng-container matColumnDef="status">
        <mat-header-cell class="center" *matHeaderCellDef>Statut</mat-header-cell>
        <mat-cell class="description-cell center" *matCellDef="let item" (click)="addCompanyHistorySearch(item)">
          <div *ngIf="item.actif || item.ferme"
               [ngClass]="{'status' : item.actif==true, 'status-closed' : item.ferme==true}"></div>
          <div *ngIf="!item.actif && !item.ferme" class="no-info no-info-statut"></div>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="info-complementaires">
        <mat-header-cell *matHeaderCellDef>Informations complémentaires</mat-header-cell>
        <mat-cell class="description-cell" *matCellDef="let item">
          <div class="picto-wrapper">
            <div placement="bottom" [ngClass]="{'blacklist':item.blacklist,'no-info':!item.blacklist}"></div>
            <div placement="bottom" *ngIf="item.score" class="score-groupe"><img class="score-img" alt="score"
                                                                                 src="../../assets/icones/logo_score_ca.svg"><span
              class="score-txt">{{item.score}}</span></div>
            <div *ngIf="!item.score" class="no-info"></div>
            <div placement="bottom" [ngClass]="{'cote-bourse':item.isin,'no-info':!item.isin}"></div>
          </div>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="portefeuille">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell class="description-cell" *matCellDef="let item" (click)="onClickTroisPetitsPoints($event, item)">

          <div class="picto-ajout" [ngClass]="{'selected' : item.isSelected}"></div>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>

    <div class="paginator-container">
      <div *ngIf="numbers.length >= 2">
        <div *ngFor='let i of numbers'
             (click)="clickPage(i)"
             class="page-number"
             [ngClass]="{'clicked' : i == dataSource?.paginator?.pageIndex}">{{i+1}}
        </div>
        <div *ngIf='filteredList.length > nbResults' (click)="clickNext()" class="page-number">Suivant</div>
      </div>
    </div>
    <mat-paginator #paginator
                   [pageSizeOptions]="pageSizeOptions"
                   [pageSize]="nbResults"
                   [length]="dataSource.length">

    </mat-paginator>


  </div>
  <div class='no-result-wrapper' *ngIf="list.length === 0">
    <div class='left-bloc'>

    </div>
    <div class='right-bloc'>
      <div class="title">Nous n’avons pas trouvé de résultat pour cette recherche.</div>
      <br>
      <div>Vous pouvez :

        <ul>
          <br>
          <li>Vérifier l’orthographe des termes de recherche.</li>
          <br>
          <li>Essayer d’autres termes de recherche (Nom d’une entreprise, SIREN, SIRET, Nom d’un dirigeant, …).</li>
          <br>
          <li>Spécifier un moins grand nombre de mots.</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="haut-de-page" (click)="clickTop()" *ngIf="isScrollBarVisible"></div>
