.container-table {
  flex-direction: row;
  display: flex;
  width: 100%;
  padding: 0;

  .ajout-favoris-portefeuille {
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../../assets/images/bulle-favoris.svg');
    display: none;
    width: 273px;
    height: 109px;
    z-index: 3;
    align-content: space-arround;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    .container-portefeuille {
      cursor: pointer;
      display: flex;
      flex-direction: row;
      align-content: space-around;
      width: 100%;
      height: 47px;
      margin-top: 15px;
      align-items: center;
      transition: 0.2s ease-in-out;
      .picto-portefeuille {
        background-image: url('../../assets/icones/picto-portefeuille-client.svg');
        background-repeat: no-repeat;
        background-size: contain;
        width: 18px;
        height: 14px;
        margin-right: 15px;
        margin-left: 20px;
      }
      .picto-poubelle {
        background-image: url('../../assets/icones/picto-poubelle.svg');
        background-repeat: no-repeat;
        background-size: contain;
        width: 19px;
        height: 19px;
        margin: 10px 15px 10px 20px;
      }
      .ajout-portefeuille {
        font-size: 13px;
        color: #009f61;
      }
    }
    .container-favoris {
      display: flex;
      flex-direction: row;
      align-content: space-around;
      width: 100%;
      height: 47px;
      align-items: center;
      margin-bottom: 10px;
      clip-path: rectangle(13px, 10px, 273px, 109px, 5px);
      transition: 0.2s ease-in-out;
      cursor: pointer;
      .picto-favori {
        background-image: url('../../assets/icones/picto-favoris.svg');
        background-repeat: no-repeat;
        background-size: contain;
        width: 19px;
        height: 19px;
        margin: 10px 15px 10px 20px;
      }
      .picto-poubelle {
        background-image: url('../../assets/icones/picto-poubelle.svg');
        background-repeat: no-repeat;
        background-size: contain;
        width: 19px;
        height: 19px;
        margin: 10px 15px 10px 20px;
      }
      .ajout-favori {
        font-size: 13px;
        color: #009f61;
      }
    }
    .container-favoris:hover {
      background-image: url("../../assets/images/bulle_roll_favori.png");
      transition: 0.2s ease-in-out;

    }
    .container-portefeuille:hover {
      background-image: url("../../assets/images/bulle_roll_portefeuille.png");
      transition: 0.2s ease-in-out;
    }
  }

  .filter {
    //background-color: white;
    width: 15%;
    //margin-right: 20px;
  }
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

  .no-results-filter {
    margin-top: 37px;
  }

  .tableContainer {
    width: 100%;
    position: relative;
    margin-right: 104px;

    .search-infos {
      position: absolute;
      height: 20px;
      width: 100%;
      margin: 0;

      .nb-results {
        display: inline-block;
        font-size: 14px;
        font-weight: bold;
      }

      .result-term {
        display: inline-block;
        font-size: 14px;
      }

      .nb-results-by-page {
        display: inline-block;
        font-size: 14px;
        position: absolute;
        right: 0;
        text-align: right;

        .select-nb {
          display: inline-block;
          position: relative;
          padding-left: 22px;
          margin-bottom: 12px;
          cursor: pointer;
          font-size: 14px;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;

          &:not(:last-child) {
            margin-right: 12px;
          }
        }

        /* Hide the browser's default radio button */
        .select-nb input {
          position: absolute;
          opacity: 0;
          cursor: pointer;
        }

        /* Create a custom radio button */
        .checkmark {
          position: absolute;
          top: 0;
          left: 0;
          height: 15px;
          width: 15px;
          background-color: transparent;
          border: #039556 1px solid;
          border-radius: 50%;
        }

        /* On mouse-over, add a grey background color */
        .select-nb:hover input ~ .checkmark {
          background-color: #eee;
        }

        /* When the radio button is checked, add a blue background */
        .select-nb input:checked ~ .checkmark {
          background-color: transparent;
          border: #039556 1px solid;
        }

        /* Create the indicator (the dot/circle - hidden when not checked) */
        .checkmark:after {
          content: "";
          position: absolute;
          display: none;
        }

        /* Show the indicator (dot/circle) when checked */
        .select-nb input:checked ~ .checkmark:after {
          display: block;
        }

        /* Style the indicator (dot/circle) */
        .select-nb .checkmark:after {
          top: 8px;
          left: 8px;
          width: 9px;
          height: 9px;
          border-radius: 50%;
          border: #039556 1px solid;
          background: #039556;
          transform: translate(-6px, -6px);
        }
      }
    }

    .mat-table {
      width: 100%;
      border-collapse: initial;
      border-spacing: 0px;
      margin: 40px auto;
      flex-wrap: wrap;
      background: #D5D5D5;
      border-radius: 5px;

      .mat-header-row {
        background-color: #686868;
        border-radius: 5px 5px 0 0;
        color: white;
        font-size: 13px;
        border-style: none !important;

        .mat-header-cell {
          //display: grid;
          padding: 5px 5px 5px 20px;
          text-align: left;
          min-height: 0;
          height: 51px;
        }
      }

      .mat-column-raisonSociale {
        flex: 0 0 22%;
      }
      .mat-column-adresse {
        flex: 0 0 22%;
      }
      .mat-column-siege {
        flex: 0 0 10%;
      }
      .mat-column-status {
        flex: 0 0 10%;
      }
      .mat-column-portefeuille {
        flex: 0 0 2%;
      }
      .mat-row {
        min-height: 65px;
        border-style: none;
        align-items: center;
        margin: 0 2px 0 2px;
        background: white;
        border-radius: 5px;
        border-bottom: #d5d5d5 2px solid;
        cursor: pointer;

        .mat-cell {
          padding: 3px 5px 3px 20px;
          flex-direction: column;
          align-content: flex-start;
          justify-content: center;
          align-items: flex-start;
          font-size: 13px;

          .barre-verte {
            background-color: #009f61;
            width: 6px;
            height: 100%;
            position: absolute;
            left: 0;
          }
          .values-cell {
            flex-direction: column;
            width: 100%;
            height: 100%;
            .etiquettes {
              display: flex;
            }
            .favori {
              color: #009f61;
              font-size: 13px;
            }
            .raison-sociale {
              font-weight: bold;
            }
            .siren {
              font-size: 13px;
              color: #686868;
            }
          }

          .address {
            font-size: 14px;
          }
          .dirigeant {
            font-weight: bold;

          }
          .dirigeant-info {
            font-size: 13px;
            color: #686868;
          }
          .default {
            background-image: url("../../assets/icones/picto_no_info.svg");
            background-repeat: no-repeat;
            background-size: contain;
            width: 20px;
            height: 20px;
          }
          .siege {
            background-image: url("../../assets/icones/picto_siege.svg");
            background-repeat: no-repeat;
            background-size: contain;
            width: 20px;
            height: 20px;

            // margin: 10px auto;
          }
          .status {
            background-image: url("../../assets/icones/picto_statut_actif.svg");
            background-repeat: no-repeat;
            background-size: contain;
            width: 20px;
            height: 20px;
            margin-left: 10px;
          }
          .status-closed {
            background-image: url("../../assets/icones/picto_statut_ferme.svg");
            background-repeat: no-repeat;
            background-size: contain;
            width: 20px;
            height: 20px;
            margin-left: 10px;
          }
          .picto-wrapper {
            margin: 0 auto;
            width: 100%;
            align-items: center;
            justify-content: center;
            display: flex;
          }
          .picto-wrapper * {
            margin-top: 5px;
            margin-left: 5px;
            justify-content: center;
            align-content: center;
          }
          .no-info {
            background-image: url("../../assets/icones/picto_no_info.svg");
            background-repeat: no-repeat;
            width: 5px;
            height: 2px;
            margin-left: 2px;
            margin-top: 5px;
          }
          .no-info-siege {
            margin-left: 6px;
          }
          .no-info-dirigeant {
            margin-left: 24px;
          }
          .no-info-statut {
            margin-left: 16px;
          }

          .blacklist {
            background-image: url("../../assets/icones/picto_black_list.svg");
            background-repeat: no-repeat;
            background-size: contain;
            width: 17px;
            height: 22px;
            margin-top: -6px !important
          }

          .score-groupe {
            font-weight: bold;
            height: 22px;
            display: inline-flex;
            .score-txt {
              margin-top: 4px;
              margin-left: 3px;
            }

          }
          .ecoresponsable {
            background-image: url("../../assets/icones/picto_eco_responsable.svg");
            background-repeat: no-repeat;
            background-size: contain;
            width: 22px;
            height: 19px;
          }
          .cote-bourse {
            background-image: url("../../assets/icones/picto_bourse.svg");
            background-repeat: no-repeat;
            background-size: contain;
            width: 22px;
            height: 19px;
          }
          .picto-ajout {
            cursor: pointer;
            background-image: url("../../assets/icones/portefeuille-gris.svg");
            background-repeat: no-repeat;
            background-size: contain;
            width: 5px;
            height: 20px;
            position: relative;
          }
          .selected {
            background-image: url('../../assets/icones/portefeuille.svg');
            background-repeat: no-repeat;
            background-size: contain;
            width: 5px;
            height: 20px;
            position: relative;
          }
          .picto-ajout:hover {
            background-image: url("../../assets/icones/btn_ajouts_recherche_roll.svg");
          }
        }

        .ajout-favoris-portefeuille {
          position: absolute;
          top: 20px;
          left: 5px;
          background-image: url("../../assets/images/bulle-favoris.svg");
          background-repeat: no-repeat;
          background-size: contain;
        }

        .mat-column-raisonSociale {
          position: relative;
        }
        .mat-cell-info-complementaires {
          justify-content: center;
          align-content: center;
        }
        .mat-column-portefeuille {
          align-items: center;
          position: relative;
        }
        .mat-cell:first-child {
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;
        }
        .mat-cell:last-child {
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
          padding: 10px 20px 8px 5px;
        }
      }
      .mat-row:hover {
        background-color: #eae8e6;
      }
    }
    .paginator-container {
      display: flex;
      float: right;
      position: absolute;
      right: 0;

      .ng-star-inserted {
        align-items: center;
        display: flex;
      }

      .page-number {
        color: #009f61;
        margin: auto 5px;
        font-size: 14px;
        &:hover {
          color: #006545;
          text-decoration: underline;
          cursor: pointer;
        }
      }
      .clicked {
        color: black;
      }
    }

    /deep/ .mat-paginator-page-size {
      display: none !important;
    }

    /deep/ .mat-paginator-range-actions {
      display: none !important;
    }

    table, .table {
      width: 100%;
      border-collapse: initial;
      border-spacing: 0px;
      margin: 40px auto;
      thead, .mat-header-row {
        color: white;
        font-size: 13px;
        tr, .tr {
          flex-direction: row;
          th, .th {
            background-color: #686868;
            padding: 10px 21px;
            text-align: left;
          }
          th:first-child, .th:first-child {
            background-color: #686868;
            border-top-left-radius: 10px;
          }
          th:last-child {
            background-color: #686868;
            border-top-right-radius: 10px;
          }
        }
      }

    }
  }

  .no-result-wrapper {

    max-width: 820px;
    min-width: 480px;
    position: relative;
    width: 57%;
    margin: 5% auto;

    .left-bloc {
      width: 50%;
      min-width: 250px;
      height: 250px;
      display: inline-block;
      background-image: url('../../assets/images/icono-no-result.svg');
      background-repeat: no-repeat;
      background-size: contain;
    }

    .right-bloc {
      display: inline-block;
      width: 50%;

      ul {
        margin-left: 14px;
      }

      li {
        list-style-image: url('../../assets/icones/bullet.svg');
        font-size: 14px;
      }

      .title {
        font-size: 24px;
        font-weight: bold;
      }
    }
  }
}

.haut-de-page {
  background-image: url("../../assets/images/btn-top-page.svg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 42px;
  width: 42px;
  right: 30px;
  bottom: 10px;
  position: fixed;
  transform: translateY(-50%);
}

/*
.center{
    text-align: center !important;
    text-align: -webkit-center !important;
}
*/
