.breadcrumb {
  padding: 7px 0 12px 29px;
  background-color: #5b6770;
  border-radius: 0;

  li {
    display: inline;

    + li:before {
      content: " > " !important;
      color: white !important;
      font-size: 12px !important;
    }

    a {
      color: white;
      font-size: 12px;
      text-decoration: underline;
      font-weight: 300;
    }
  }

  li:first-of-type {
    a {
      text-decoration: none;
    }

  }
}
