<div class="head_block">
  <p class="items_head_block">Données de localisation</p>
</div>
<div class="localisation" [ngClass]="{'hidden':showInfos === false}">
  <div class="infos_local">
    <p class="title_local">Téléphone</p>
    <div class="content_local">
      <img class="img-local" src="../../assets/images/dashboard/img/picto-t-l-phone.svg" alt="téléphone"/>
      <p class="infos">{{this.numeroTelephone}}</p>
    </div>
  </div>
  <div class="infos_local">
    <p class="title_local">Site internet</p>
    <div class="content_local">
      <img class="img-local" src="../../assets/images/dashboard/img/picto-site-internet.svg" alt="internet"/>
      <p class="infos"><a href="{{this.website}}" target="blank">{{this.domain}}</a></p>
    </div>
  </div>
</div>
<div id="map" class="map" [ngClass]="{'hidden':showmap === false}"></div>
