.localisation {
  height: 82px;
  background-color: rgba(227, 227, 227, 0.5);
  display: flex;
}

.title_local {
  font-size: 13px;
  font-weight: bold;
  color: #000000;
}

.infos_local {
  margin: 0 0 0 10px;
  padding: 0 20px 0 0;

}

.content_local {
  display: flex;
  align-items: center;
}

.infos {
  font-size: 12px;
  color: #000000;
  padding: 0;
  margin: 0 0 0 10px;
}

.img-local {
  margin: 0 0 0 20px;
  padding: 0;
}

.map {
  width: 100%;
  height: 240px;
  background: cover;
}

.source {
  font-size: 12px;
  font-weight: 300;
  color: #000000;
  border-bottom: 2px solid #E3E3E3;
  padding: 10px 0 34px 10px;
  margin: 0;
}

span {
  font-size: 12px;
  font-weight: 300;
  color: #000000;
  text-decoration: underline;
  cursor: pointer;
}

.head_block {
  border-bottom: 2px solid #E3E3E3;
  font-family: Roboto, sans-serif;;
  font-size: 18px;
  color: #000000;
  letter-spacing: 0.25px;
  padding: 8px 10px 8px 15px;
  display: flex;
  justify-content: space-between;
}

.items_head_block {
  color: #000000;
  font-weight: bold;
  font-size: 18px;
  padding-left: 0;
}

.hidden {
  visibility: hidden;
  display: none;
}
