@font-face {
  font-family: "FontAwesome";
  font-weight: normal;
  font-style: normal;
  src: url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?v=4.3.0");
  src: url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?#iefix&v=4.3.0") format("embedded-opentype"),
  url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff2?v=4.3.0") format("woff2"),
  url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff?v=4.3.0") format("woff"),
  url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.ttf?v=4.3.0") format("truetype"),
  url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular") format("svg");
}

.loader-img-green {
  background: url('../../assets/images/loader-green.svg') no-repeat center;
  padding: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-animation: spin 1.4s linear infinite;
  animation: spin 1.4s linear infinite;
  margin: auto;
  display: flex;
}

.content {
  position: absolute;
  right: 0;
  overflow: auto;
  margin-top: 183px;
  padding-bottom: 100px;
}

.fixed {
  z-index: 99;
  position: fixed;
  width: 100%;
}

.no-gutter {
  padding-right: 0 !important;
  padding-left: 0 !important;
  position: fixed;
  height: 100vh;

  .row {
    margin-right: 0;
    margin-left: 0;
    padding-right: 0;
    padding-left: 0;

    .col {
      padding-right: 0;
      padding-left: 0;
    }
  }
}

.no-padding{
  padding-right: 0;
  padding-left: 0;
}

a {
  color: #009F61;
  font-weight: 500;
  text-transform: none !important;
  text-decoration: none;
}

.header {
  height: 80px;
  background-color: #ffffff;
}

img {
  margin: 26px 30px;
}

nav ul {
  float: right;
  list-style-type: none;
  margin: auto 0;
  height: 80px;
}

nav li {
  display: inline-block;
  height: 80px;
  margin-right: 30px;
  padding: 0;
  vertical-align: middle;
  cursor: pointer;
}

nav a {
  color: #686868;
  display: block;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
}

.home {
  height: 14px;
  margin: 33px 0;
}

.img_nav {
  height: 24px;
  margin: 28px 0;
  vertical-align: middle;
}

.img_nav:hover {
  opacity: 0.5;
}

.icone-user {
  height: 40px;
  margin: 20px 0;
  padding-right: 4px;
  vertical-align: middle;
}

.icone-more {
  margin-left: 10px;
  vertical-align: middle;
}

/*--Breadcrum--*/

.breadcrum {
  height: 40px;
  width: 100%;
  background-color: #5B6770;
}

.bread {
  color: #FFFFFF;
  font-size: 12px;
  font-weight: 300;
  height: 12px;
  padding: 2px 30px;
}

.bread a {
  color: #FFFFFF;
  font-size: 12px;
  font-weight: 300;
}

.bread a:hover {
  color: #FFFFFF;
  font-weight: 300;
}

/* -- END:BREADCRUM -- */

.separator {
  background-color: #C7C7C7;
}

.icone-dropdown {
  margin: 0;
  cursor: pointer;
  transform: rotate(-90deg);
}

/* -- Head-Agency -- */

.head-agency {
  background-color: #FFFFFF;
  padding: 0 16px;
  margin: -15px 0 0 0;
}

.back {
  padding: 0 0 0 25px !important;
  margin: 0;
  min-height: 113px;
  min-width: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  text-decoration: none;
  background-color: transparent;
  border: none;
  font-size: 13px;
  font-weight: 500;
  color: #009F61;
  margin-left: 30px;
}

button:focus {
  outline: none;
}

.separator_2 {
  right: 0;
  border-radius: 6px;
  height: 80%;
  width: 6px;
}

.infos_block {
  min-height: 113px;
  padding: 0 0 0 16px;
}

.top_right_block {
  padding-right: 30px;
  margin-top: 20px;
}

@media only screen and (max-width: 899px) {
  .top_right_block {
    margin-left: -11px;
  }
}

.top_right_row {
  text-align: right;
  text-align: -moz-right;
  text-align: -webkit-right;
}

.wk-right1 {
  margin: 0;
}

.wk-right1, .wk-right2 {
  text-align: right;
  text-align: -moz-right;
  text-align: -webkit-right;
  padding: 0;
}

@media only screen and (max-width: 991px) {
  .wk-right1 {
    text-align: right;
    text-align: -moz-right;
    text-align: -webkit-right;
  }
}

.Name {
  color: #009F61;
  font-size: 24px;
  font-family: Roboto, sans-serif;;
  font-weight: bold;
  padding-left: 0;
  margin-bottom: 0;
}

.NameBig {
    color: #009F61;
    font-size: 18px;
    font-family: Roboto, sans-serif;;
    font-weight: bold;
    padding-left: 0;
    margin-bottom: 0;
  }

.SIREN_SIRET {
  font-size: 14px;
  color: #000000;
  padding-left: 0;
  margin: 0;
}

.appetence {
  font-size: 14px;
  color: #686868;
  width: auto;
  background: #F2F2F2;
  box-shadow: 0 2px 11px 0 rgba(0,0,0,0.33);
  border-radius: 2px;
  margin: 0 15px 15px 15px;
  padding: 5px;

  a {
      cursor: pointer;
  }

  .en-savoir-plus {
      font-size: 11px;
      color: #009F61;
      margin: 4px 0 0 20px;
      float: right;
  }
}

.Indicators {
  font-size: 13px;
  font-family: Roboto, sans-serif;;
  font-weight: bold;
  display: flex;
  align-items: center;
  margin: 4px 0 16px 0;

  span {
    display: flex;
    height: 23px;
  }

  p {
    padding: 2px 29px 2px 7px;
  }
}

.siret_isin {
  display: flex;
}

.items-indi {
  margin: 0;
}

@media only screen and (max-width: 1199px) {
  .items-indi {
    margin: 0 10px 0 0;
  }
}

.searchbar-head {
  position: relative;
  border-radius: 5px;
  border: solid 1px #C7C7C7;
  width: 246px;
  height: 30px;
  padding: 0 10px;
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.searchbar-head-agency {
  width: 250px;
  border: none;
  font-size: 14px;
  color: #686868;
  font-style: italic;
  font-weight: 200;
}

.searchbar-head-agency:focus {
  outline: none;
}

.btn_search {
  position: absolute;
  right: 13px;
  border: none;
  background: url(../../assets/images/dashboard/img/Search.svg);
  height: 22px;
  width: 22px;
  cursor: pointer;
  outline: none;
}

/*---- liste déroulante ----*/

@supports (pointer-events: none) and
        ((-webkit-appearance: none) or
        (-moz-appearance: none) ) {

  .d-inline-block {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 20px 0 0 0;

    #dropdownBasic1 {
      width: 100px;
      height: 30px;
      border: solid 1px #009f61;
      margin-left: 0;
      border-radius: 5px;
      color: #009f61;
      font-weight: 500;
      padding: 0 2.5em 0 5px;
      font-size: 13px;
      background: transparent;
    }

    .dropdown-item {
      margin-left: 0;
    }
  }

}

/* -- End:Head-Agency -- */

.dashboard-content {
  margin-top: 125px;
  margin-bottom: 50px;
}

.separator_1 {
  border-radius: 2px;
  height: 2px;
  margin: 20px auto;
  width: 90%;
}

.nav-left {
  position: fixed;
  background-color: #006545;
  height: 100vh;
  min-width: 75px;
  padding: 0 !important;
  overflow-x: hidden;
}

.text_sidebar {
  padding: 0;
}

.flex-container-nav_left {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}

.source-rncs {

}

.flex-item-nav_left {
  height: 75px;
  color: #FFFFFF;
  font-size: 14px;
  border-bottom: solid 1px #00421E;
  display: flex;
  -webkit-flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  transition-duration: 0.5s;
}

.activ {
  background-color: #009f61;
  border-right: 4px solid #b7d12a;
  transition-duration: 0.5s;
}

.bottom-end-actu {
  margin-bottom: 5%;
}

.flex-item-nav_left:hover {
  background-color: #009f61;
  border-right: 4px solid #b7d12a;
  transition-duration: 0.5s;
}

.img_flex {
  margin: 0 15px 0 32px;
  padding: 27.5px 0;
}

@media only screen and (max-width: 1118px) {
  .text_sidebar {
    display: none;
  }

  .img_flex {
    margin-right: auto;
    margin-left: auto;
  }
}

@media only screen and (max-width: 768px) {
  .img_flex {
    padding: 20px;
  }
}

.container_btn {
  padding: 0;
}

.align-right {
  text-align: right;
}

.btn_modifier {
  color: #ffffff;
  font-family: Roboto, sans-serif;;
  font-size: 13px;
  font-weight: 500;
  padding: 11px 10px 12px 10px;
  background-color: #009F61;
  border-radius: 5px;
  margin: 20px 0;
  height: 40px;
  width: 266px;
  transition-duration: 0.5s;
}

.btn_modifier:hover {
  background-color: #006545;
  transition-duration: 0.5s;
}

.picto-crayon {
  margin: 0;
  padding-right: 10px;
}

.flex-container {
  margin: 0 30px 0 0;
  padding: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-content: flex-start;
  flex-flow: wrap row;
  justify-content: flex-end;
}

.item {
  background-color: #FFFFFF;
  box-shadow: 0 0 5px 0 rgba(91, 103, 112, 0.30);
  border-radius: 5px;
  margin-bottom: 30px;
  padding: 0;
  overflow: hidden;
}

.flex-item-double {
  min-width: 280px;
  width: 350px;
  height: 100%;
  background-color: transparent;
  border-radius: 5px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: wrap row;
  flex-grow: 1;
}

.big-item {
  min-width: 500px;
  width: 730px;
}

.source-rncs {
    color: #999;
    font-size: 10px;
    padding: 0%;
    margin: 0%;
}

.compte-annuel {
    color: #999;
    font-size: 10px;
    padding-top: 25px;
    padding-left: 15px;
}

.head_block {
  border-bottom: 2px solid #E3E3E3;
  font-family: Roboto, sans-serif;;
  font-size: 18px;
  color: #000000;
  letter-spacing: 0.25px;
  padding: 8px 10px 8px 15px;
  justify-content: space-between;
}

.head_block_chiffres {
    border-bottom: 2px solid #E3E3E3;
    font-family: Roboto, sans-serif;;
    font-size: 18px;
    color: #000000;
    letter-spacing: 0.25px;
    padding: 8px 10px 0px 15px;
    justify-content: space-between;
  }

.items_head_block {
  color: #000000;
  font-weight: bold;
  font-size: 18px;
  padding-left: 0;
}

.items_head_block_chiffres {
    color: #000000;
    font-weight: bold;
    font-size: 18px;
    padding-left: 0;
    margin-bottom: 0%;
    padding-bottom: 0%;
  }

.voirplus {
  border: none;
  color: #009F61;
  font-size: 13px;
  font-style: normal;
  text-align: center;
  width: 100%;
  margin: 30px 0 0 0;
  padding: 30px;
  cursor: pointer;
  transition-duration: 0.5s;
}

.voirplus:hover {
  color: #006545;
  transition-duration: 0.5s;
}

/*-----Identité de l'entreprise-----*/

.data {
  border: 1px solid #C7C7C7;
  border-radius: 3px;
  margin: 10px;
  width: calc(100% - 20px);
}

p {
  padding: 2px 16px;
  margin: 5px 0;
}

.avocats {
  margin: 0;
  cursor: pointer;
}

.tooltip-ensavoirplus {
  color: #009f61;
  font-size: 13px;
}

.tooltip-figurepas {
  color: #999;
  font-size: 11px;
}

.tooltip-annuaire {
  color: #000;
  font-size: 11px;
}

.tooltip-inner {
  background: #fff;
  box-shadow: 0 2px 11px 0 rgba(91, 103, 112, 0.30);
  text-align: left;
}

.warning {
  display: inline-block;
  background-color: red;
  color: white;
  padding: 4px 8px;
  font-size: 11px;
  font-weight: bold;
}

.warning-space {
  margin-right: 4px;
}

.data_1 {
  font-size: 13px;
  font-weight: bold;
}

.data_2 {
  font-size: 15px;
  color: #686868;
  max-width: 266px;
}

.data_3 {
  font-size: 11px;
  font-weight: normal;
  text-transform: uppercase;
  background-color: #E3E3E3;
  border-radius: 1px;
  margin: 10px 0 10px 16px;
  padding: 4px 8px;
  width: auto;
  display: inline-block;
}

/*-----End: Identité de l'entreprise-----*/

/*-----Chiffres cléfs-----*/

.slideshow-container {
  width: 100%;
  height: 300px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
}

.mySlides {
  margin: 0;
  padding: 0;
  height: 300px;
  width: 100%;
  display: flex;
  flex-flow: wrap row;
}

.img-slide {
  height: 170px;
  padding: 0;
  margin: 0;
  display: flex;
  flex-grow: 0;
  color: #ffffff;
  width: 100%;
}

.img_tl {
  background: url('../../assets/images/dashboard/img/chiffre-affaires.png') left no-repeat;
  background-size: cover;
  flex-grow: 1;
}

.img_tr {
  background: url('../../assets/images/dashboard/img/effectif.png') left no-repeat;
  background-size: cover;
  flex-grow: 1;
}

.img_b {
  background: url('../../assets/images/dashboard/img/bilan.png') left no-repeat;
  background-size: cover;
  flex-grow: 1;
}

.content-img {
  display: flex;
  flex-direction: column;
  align-self: center;
  flex-grow: 1;
  width:100%;
}

.pdf {
  align-items: flex-start;
}

.img-slide.right p  {
  margin: 8px 20px 8px 4px;
  padding: 0;
  display: flex;
  width: 90%;
  justify-content: center;
  text-align: center;
}

.img-slide.left p  {
  margin: 8px 4px 8px 20px;
  padding: 0;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 90%;
}


.title_img {
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.20px;
  width:100%;

}

.chiffre_img {
  margin-bottom: 0 !important;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 0.34px;
}

.small {
  font-size: 11px;

}

.text_img {
  margin-top: 0 !important;
  font-size: 12px;
  line-height: 1.42;
  letter-spacing: 0.25px;
}

.text_img_1 {
  font-size: 11px;
  max-width: 210px;
}

.text_img_2 {
  font-size: 16px;
}

.text_img_2_no_margin {
  margin-top: -10px !important;
}

.text_img_3 {
  cursor: pointer;
}

.content-img a {
  font-size: 12px;
  font-weight: lighter;
  text-decoration: underline;
  color: #ffffff;
}

.img_download {
  margin: 0;
}

.download {
  margin: 0;
  padding: 65px 17px 0 70px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: relative;
  height: 4px;
  width: 4px;
  margin: -169px 4px;
  padding: 16px;
  color: #009f61;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 50px;
  background-color: #ffffff;
}

/* Position the "next button" to the right */
.next {
  float: right;
}

.prev {
  float: left;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  opacity: 0.8;
}

/* arrow left and right*/

.fleche-l {
  margin: 0;
  position: absolute;
  top: 13px;
  left: 14px;
}

.fleche-r {
  margin: 0;
  position: absolute;
  top: 13px;
  right: 14px;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}

/*-----End : Chiffres cléfs-----*/

/*-----Données de localisation-----*/

/*-----End : Données de localisation-----*/

/*-----Dirigeants de l'entreprise-----*/

.data_dirigeant {
  display: flex;
}

#img-pr-sident {
  background: url("../../assets/images/dashboard/img/picto-pr-sident.svg") no-repeat center;
}

#img-dirigeant {
  background: url("../../assets/images/dashboard/img/picto-dirigeant.svg") no-repeat center;
}

.data_img {
  background-color: #ffffff;
  border: 1px solid #C7C7C7;
  border-radius: 3px;
  height: 115px;
  margin: 10px;
  padding: 0;
  width: 115px;
  transition-duration: 0.5s;
  cursor: pointer;
  position: relative;
}

.data_img:hover {
  background-color: #fefefe;
  box-shadow: 0 2px 11px 0 rgba(91, 103, 112, 0.30);
  transition-duration: 0.5s;
}

.img-dirigeant {
  margin: 0;
  padding: 0;
}

.data_id_dirigeant {
  margin: 10px 0;
  padding: 10px;
  width: calc(100% - 115px);
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.data_4 {
  font-size: 11px;
  font-weight: bold;
  color: #009f61;
  padding: 0;
  margin: 0;
}

.data_5 {
  font-size: 15px;
  font-weight: bold;
  color: #000000;
  padding: 0;
  margin: 0;
  width: 167px;
}

.data_6 {
  font-size: 13px;
  color: #686868;
  padding: 0;
  margin: 0;

}

.separator_3[_ngcontent-c7] {
  border-radius: 2px;
  height: 2px;
  padding: 0;
  width: calc(100% - 145px);
  margin-left: 140px;
}

/*-----End : Dirigeants de l'entreprise-----*/

/*-----Evènements juridiques-----*/

table {
  border-collapse: collapse;
  font-size: 12px;
  font-weight: lighter;
  color: #000000;
  flex-direction: column;
  background-color: #D5D5D5;
  width: 100%;
}

.head-table {
  height: 40px;
  margin: 0;
  padding: 0 20px;
  background-color: #e3e3e3;
  display: flex;
  align-items: center;
  align-content: flex-start;
  align-self: flex-start;
}

.result-table {
  min-height: 66px;
  margin: 2px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  align-content: flex-start;
  align-self: flex-start;
  border-radius: 3px;
  background-color: #ffffff;
}

.result-table:hover {
  background-color: #e3e3e3;
}

th, td {
  width: 15%;
  display: flex;
}

.first {
  width: 55%;
}

.table_nature {
  font-size: 14px;
  font-weight: bold;
  color: #000000;

}

.no-overflow{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-right: 10px;
}

.table_date, .table_source {
  font-size: 14px;
  font-weight: normal;
  color: #686868;
}

.table_téléchargement img {
  margin: 0 20px 0 0;
  padding: 0;
  transition-duration: 0.5s;
}

.table_téléchargement img:hover {
  margin-top: -2px;
  transition-duration: 0.5s;
}

/*-----End : Evènements juridiques-----*/

@media screen and (max-width: 750px) {
  .Indicators p {
    display: none;
  }
}

.items-surveiller {
  object-fit: contain;
  margin: 13px 11px 13px 16px;
}

.fav {
  width: 17px;
  height: 17px;
}

.ptf {
  width: 18px;
  height: 14px;
}

.dropdown-menu {
  margin: 0;
  padding: 0;
  border: none;
  left: -129px !important;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

.btn-outline:focus,
.btn-outline:not(:disabled):not(.disabled).active:focus,
.btn-outline:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline.dropdown-toggle:focus {
  box-shadow: none;
}

.dropdown-toggle-split:not(:disabled):not(.disabled).active:hover,
.dropdown-toggle-split:not(:disabled):not(.disabled):active:hover,
.show > .dropdown-toggle-split.dropdown-toggle:focus {
  background: #009f61 !important;
  color: #fff !important;
}

.show > .btn-outline.dropdown-toggle:focus::after {
  content: "\f106";
}

.dropdown-item {
  margin: 0;
  padding: 0 20px 0 0;
  cursor: pointer;
  border-bottom: 2px solid #d5d5d5;
}

.dropdown-item:first-of-type {
  border-radius: .25rem .25rem 0 0;
}

.dropdown-item:last-of-type {
  border-radius: 0 0 .25rem .25rem;
  border-bottom: none;
}

.dropdown-item:hover, .dropdown-item:focus {
  color: #009f61;
  background: #f8f9fa;
}

.dropdown-toggle::before {
  border-right: 1px solid black;
}

.dropdown-toggle::after {
  display: table-row;
  font-family: FontAwesome, sans-serif;
  content: "\f107";
  font-size: 20px;
}

.btn-outline {
  height: 30px;
  border: solid 1px #009f61;
  margin-left: 0;
  border-radius: 5px;
  color: #009f61;
  font-weight: 500;
  padding: 0 10px;
  font-size: 13px;
  background: transparent;
}
