<div class="container-fluid no-gutter">
    <div class="row head-agency fixed" id="header">
        <div class="back col-1 col-lg-2">
            <a routerLink="" routerLinkActive="active" class="flex-item-btn d-none d-lg-block">< Retour</a>
            <a routerLink="" routerLinkActive="active" class="d-lg-none"><img src="../../assets/icones/fl-che.svg"  alt="flêche" class="icone-dropdown"/></a>
            <div class="separator separator_2"></div>
        </div>

        <div class="infos_block col-6 col-lg-5 col-xl-6">
            <div class="infos_block">
                <p class="{{styleTitle}}">{{raisonSociale}}</p>
                <div class="siret_isin">
                    <p class="SIREN_SIRET" *ngIf="dashboard.headerEntreprise.values.siret">SIRET : {{dashboard.headerEntreprise.values.siret.value}}</p>
                    <p class="SIREN_SIRET" *ngIf="dashboard.headerEntreprise.values.waldec">WALDEC : {{dashboard.headerEntreprise.values.waldec.value}}</p>
                    <p class="SIREN_SIRET" *ngIf="dashboard.headerEntreprise.values.isin">-&nbsp;&nbsp;&nbsp;  ISIN : {{dashboard.headerEntreprise.values.isin.value}}</p>

                </div>
                <div class="Indicators">
                    <span *ngIf="dashboard.headerEntreprise.values.isBlacklist"><img   src="../../assets/images/dashboard/img/picto-black-list.svg" class="items-indi"/> <p class="d-lg-none d-xl-block">Black list OFAC </p></span>
                    <span *ngIf="dashboard.headerEntreprise.values.scoreGroupe"><img   src="../../assets/images/dashboard/img/CA.svg" class="items-indi second"/> <p class="d-lg-none d-xl-block">Score {{dashboard.headerEntreprise.values.scoreGroupe.value}}</p></span>
                    <span *ngIf="dashboard.headerEntreprise.values.isEcoResponsable"><img  src="../../assets/images/dashboard/img/Eco.svg" class="items-indi second"/> <p class="d-lg-none d-xl-block">Eco-responsable</p></span>
                    <span *ngIf="dashboard.headerEntreprise.values.isin"><img   src="../../assets/images/dashboard/img/Cote.svg" class="items-indi second"/> <p class="d-lg-none d-xl-block">Côté en Bourse</p></span>
                </div>
            </div>
        </div>

        <div class="top_right_block col-5 col-lg-5 col-xl-4">
            <div class="row top_right_row">
                <div class="col wk-right1">
                    <div class="btn-group d-inline-block">
                        <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
                            <button class="btn btn-outline" id="surveiller">Surveiller</button>
                            <button class="btn btn-outline dropdown-toggle-split" ngbDropdownToggle></button>
                            <div class="dropdown-menu" ngbDropdownMenu>
                                <button *ngIf="!isPortefeuille" (click)="addPortefeuilles()" class="dropdown-item"><img src="../../assets/images/dashboard/img/picto-portefeuille-client.svg" class="items-surveiller ptf"/> Ajouter au portefeuille clients</button>
                                <button *ngIf="isPortefeuille" (click)="addPortefeuilles()" class="dropdown-item"><img src="../../assets/icones/picto-poubelle.svg" class="items-surveiller ptf"/> Retirer de mon portefeuille client</button>
                                <button *ngIf="!isFavori" (click)="addFavoris()" class="dropdown-item"><img src="../../assets/images/dashboard/img/picto-favoris.svg" class="items-surveiller fav"/> Ajouter aux favoris</button>
                                <button *ngIf="isFavori" (click)="addFavoris()" class="dropdown-item"><img src="../../assets/icones/picto-poubelle.svg" class="items-surveiller ptf"/> Retirer de mes favoris</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <!-- sidebar -->
        <div class="nav-left col-1 col-lg-2" [ngStyle]="{'margin-top': getMarginMenu()+'px'}"  >
            <ul class="flex-container-nav_left">
                <li class="flex-item-nav_left activ"><img class="img_flex" src="../../assets/images/dashboard/img/Picto_PC.svg"/><p class="text_sidebar">Prospection, commercialisation</p></li>
                <li class="flex-item-nav_left"><img class="img_flex" src="../../assets/images/dashboard/img/picto-stylo.svg"/><p class="text_sidebar">Ouverture de compte</p></li>
                <li class="flex-item-nav_left"><img class="img_flex" src="../../assets/images/dashboard/img/picto-cb.svg"/><p class="text_sidebar">Crédits</p></li>
                <li class="flex-item-nav_left"><img class="img_flex" src="../../assets/images/dashboard/img/Picto_CR.svg"/><p class="text_sidebar">Contentieux, risques</p></li>
                <li class="flex-item-nav_left"><img class="img_flex" src="../../assets/images/dashboard/img/picto-ecosysteme.svg"/><p class="text_sidebar">Ecosystème</p></li>
            </ul>
        </div>
      <div class="container-fluid no-gutter">
        <div class="col-11 col-lg-10 content dashboard-content" [ngStyle]="{'margin-top': getMarginContent()+'px'}" >
            <div class="col-12 offset-4 col-lg-6 appetence" *ngIf="dashboard.headerEntreprise.values.cibles&&dashboard.headerEntreprise.values.cibles.value">
                <p>{{setTitle()}}<a class="en-savoir-plus" (click)="appetenceClicked()">En savoir plus</a></p>
            </div>
            <div class="row">
                <div class="col-12 col-xl-8 no-padding">
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <div class="item">
                                <div class="head_block">
                                    <p class="items_head_block">Identité de l'entreprise</p>
                                </div>
                                <div *ngIf="dashboardIdentityEntreprise.values.raisonSociale"  class="data">
                                    <p class="data_1">Raison sociale</p>
                                    <p class="data_2">{{dashboardIdentityEntreprise.values.raisonSociale.value}}</p>
                                    <p class="data_3">Mise à jour : {{dateSource(dashboardIdentityEntreprise.values.raisonSociale)}}</p>
                                    <p class="data_3">Source : {{dashboardIdentityEntreprise.values.raisonSociale.source}}</p>
                                </div>
                                <div *ngIf="dashboardIdentityEntreprise.values.sigle" class="data">
                                    <p class="data_1">Sigle</p>
                                    <p class="data_2">{{dashboardIdentityEntreprise.values.sigle.value}}</p>
                                    <p class="data_3">Mise à jour : {{dateSource(dashboardIdentityEntreprise.values.sigle)}}</p>
                                    <p class="data_3">Source : {{dashboardIdentityEntreprise.values.sigle.source}}</p>
                                </div>
                                <div *ngIf="dashboardIdentityEntreprise.values.codeNAF"  class="data">
                                    <p class="data_1">Code Naf ou APE</p>
                                    <p class="data_2">{{dashboardIdentityEntreprise.values.codeNAF.value}}</p>
                                    <p *ngIf="dashboardIdentityEntreprise.values.avocatIdentifie">
                                      <img class="avocats" src="../../assets/images/dashboard/img/avocats.svg" (click)="goCnb()"/>
                                    </p>
                                  <form id="avocatForm" action="https://annuaire.avocat.fr/eAnnuaire/resultats" method="POST" target="_blank">
                                    <input type="hidden" name="nomAvocat" value="{{getNomAvocat()}}"/>
                                    <input type="hidden" name="prenomAvocat" value="{{getPrenomAvocat()}}"/>
                                    <input type="hidden" name="form" value="formulaireRecherche"/>
                                    <input type="hidden" name="barreau" value="nonRenseigne"/>
                                    <input type="hidden" name="ville" value=""/>
                                    <input type="hidden" name="codePostal" value=""/>
                                 </form>
                                  <div class="loader" *ngIf="webscraping">
                                    <div  class="loader-img-green"></div>
                                  </div>

                                    <p class="data_3">Mise à jour : {{dateSource(dashboardIdentityEntreprise.values.codeNAF)}}</p>
                                    <p class="data_3">Source : {{dashboardIdentityEntreprise.values.codeNAF.source}}</p>
                                    <ng-template #tipContent >
                                        <p class="tooltip-ensavoirplus">En savoir plus</p>
                                        <p class="tooltip-figurepas" >Cet avocat ne figure pas dans l&apos;annuaire national des avocats ou il existe un ou plusieurs homonyme(s).</p>
                                        <p class="tooltip-annuaire" >Veuillez vérifier dans l&apos;annuaire directement : <a href="https://www.cnb.avocat.fr/fr/annuaire-des-avocats-de-France">https://www.cnb.avocat.fr/fr/annuaire-des-avocats-de-France</a></p></ng-template>
                                    <p class="warning" [ngbTooltip]="tipContent" *ngIf="avocatAlert()">!</p>
                                </div>
                                <div *ngIf="dashboardIdentityEntreprise.values.enseigne" class="data">
                                    <p class="data_1">Enseigne</p>
                                    <p class="data_2">{{dashboardIdentityEntreprise.values.enseigne.value}}</p>
                                    <p class="data_3">Mise à jour : {{dateSource(dashboardIdentityEntreprise.values.enseigne)}}</p>
                                    <p class="data_3">Source : {{dashboardIdentityEntreprise.values.enseigne.source}}</p>
                                </div>
                                <div *ngIf="dashboardIdentityEntreprise.values.adresse"  class="data">
                                    <p class="data_1">Adresse</p>
                                    <p class="data_2" [innerHTML]="dashboardIdentityEntreprise.values.adresse.value.replace('\n', '<br/>')"></p>
                                    <p class="data_3">Mise à jour : {{dateSource(dashboardIdentityEntreprise.values.adresse)}}</p>
                                    <p class="data_3">Source : {{dashboardIdentityEntreprise.values.adresse.source}}</p>
                                </div>
                                <div *ngIf="dashboardIdentityEntreprise.values.formeJuridique" class="data">
                                    <p class="data_1">Forme juridique</p>
                                    <p class="data_2">{{removeEmptyCode(dashboardIdentityEntreprise.values.formeJuridique.value)}}</p>
                                    <p class="data_3">Mise à jour : {{dateSource(dashboardIdentityEntreprise.values.formeJuridique)}}</p>
                                    <p class="data_3">Source : {{dashboardIdentityEntreprise.values.formeJuridique.source}}</p>
                                </div>
                                <div *ngIf="dashboardIdentityEntreprise.values.capitalSocial" class="data">
                                    <p class="data_1">Capital</p>
                                    <p class="data_2">{{dashboardIdentityEntreprise.values.capitalSocial.value| currency:'EUR':'symbol':'1.0-2':'fr-FR'}}</p>
                                    <p class="data_3">Mise à jour : {{dateSource(dashboardIdentityEntreprise.values.capitalSocial)}}</p>
                                    <p class="data_3">Source : {{dashboardIdentityEntreprise.values.capitalSocial.source}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="item">
                                <div class="head_block_chiffres">
                                    <p class="items_head_block_chiffres">Chiffres clés de l'entreprise</p>
                                    <p class="source-rncs">SOURCE: RNCS</p>
                                </div>
                                <app-kpi-c *ngIf="dashboardKPI.type=='KPI_C'" [dashboardKPI]="dashboardKPI" [dashboardBilan]="dashboardBilan" [devise]="devise"></app-kpi-c>
                                <app-kpi-a *ngIf="dashboardKPI.type=='KPI_A'" [dashboardKPI]="dashboardKPI" [dashboardBilan]="dashboardBilan" [devise]="devise"></app-kpi-a>
                                <app-kpi-b *ngIf="dashboardKPI.type=='KPI_B'" [dashboardKPI]="dashboardKPI" [dashboardBilan]="dashboardBilan" [devise]="devise"></app-kpi-b>
                                <app-kpi-k *ngIf="dashboardKPI.type=='KPI_K'" [dashboardKPI]="dashboardKPI" [dashboardBilan]="dashboardBilan" [devise]="devise"></app-kpi-k>
                                <app-kpi-s *ngIf="dashboardKPI.type=='KPI_S'" [dashboardKPI]="dashboardKPI" [dashboardBilan]="dashboardBilan" [devise]="devise"></app-kpi-s>
                                <br>
                            </div>
                            <div class="item item-margin-bottom" *ngIf="showLocalisationWidget" >
                                <app-localisation [dashboardLocalisation] = dashboardLocalisation></app-localisation>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="item" *ngIf="dashboardEvt.values.evenements.value.length>0">
                                <div class="head_block">
                                    <p class="items_head_block">Evènements juridiques de l'entreprise</p>
                                </div>
                                <table>
                                    <tr class="head-table" >
                                        <th class="first">Nature de l'évènement</th>
                                        <th>Date</th>
                                        <th>Source</th>
                                        <th>Téléchargement</th>
                                    </tr>
                                    <tr class="result-table" *ngFor="let evt of dashboardEvt.values.evenements.value" >
                                        <td class="table_nature first"><div class="no-overflow">{{evt.libelle}}</div></td>
                                        <td class="table_date">{{evt.date|date: 'dd/MM/yyyy'}}</td>
                                        <td class="table_source">{{evt.source|uppercase}}</td>
                                        <td class="table_téléchargement" *ngIf="evt.url"><a href="{{evt.url}}" target="_blank"><img src="../../assets/images/dashboard/img/picto-doc-pdf.svg"></a></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-xl-4 ">
                    <div class="item">
                        <div class="head_block">
                            <p class="items_head_block" >Identité dirigeant(s)</p>
                        </div>

                        <div  *ngFor="let dirigeant of dashboardDirigeants.values.dirigeants.value;last as lastDir" >
                          <div class="data_dirigeant">
                            <div id="img-pr-sident" class="data_img" >

                            </div>
                            <div class="data_id_dirigeant">
                                <div class="infos_dirigeants">
                                    <p class="data_4">{{dirigeant.fonction|uppercase}}</p>
                                    <p class="data_5">{{dirigeant.prenom}} {{dirigeant.nom}}</p>
                                    <p class="data_6">Né(é) le {{getDateNaissance(dirigeant)}} - {{getLocalite(dirigeant)}} </p>
                                </div>

                            </div>
                          </div>
                          <div *ngIf="!lastDir" class="separator separator_3"></div>
                        </div>
                        <div class="data_dirigeant" *ngIf="dashboardDirigeants.values.dirigeants.value.length==0" >
                            <p>Nous n'avons pas de données pour cet établissement</p>
                        </div>
                    </div>

                    <div class="bottom-end-actu">
                        <app-news [raisonSociale]="raisonSociale"></app-news>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
