/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

:disabled{
    cursor: not-allowed;
}

a {
    text-decoration: none;
}

li {
    font-size: large;
}

div.panel-heading {
   font-size: x-large;
}

body {
    background-color: #eae8e6;
}

.abs-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.abs-center-x {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.abs-center-y {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

/* Checkbox batica */
.batica-checkbox-container {
    display: block;
    position: relative;
    padding-left: 23px;
    margin-bottom: 0;
    cursor: pointer;
    user-select: none;
}

/* Hide the browser's default checkbox */
.batica-checkbox-container input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark{
    position: absolute;
    top: -4px;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: #fff;
    border : #c7c7c7 1px solid;
    border-radius : 3px;
}

/* On mouse-over, add a grey background color */
.batica-checkbox-container:hover input ~ .checkmark{
    background-color: #fff;
    border : #006545 1px solid;
}

.batica-checkbox-container input:disabled{
    cursor : not-allowed;
}
/* When the checkbox is checked, add a blue background */
.batica-checkbox-container input:checked ~ .checkmark{
    background-color: #fff;
    border: solid 1px #009f61;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after{
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.batica-checkbox-container input:checked ~ .checkmark:after{
    display: block;
}

/* Style the checkmark/indicator */
.batica-checkbox-container .checkmark:after{
    left: 2px;
    top: 2px;
    width: 10px;
    height: 10px;
    border: solid #009f61;
    border-width: 1px;
    background-color : #009f61;
    border-radius : 2px;
}

/* Fin checkbox batica */

/*----- Begin : Carousel -----*/
.carousel{
    outline: none;

    .carousel-control-next, .carousel-control-prev{
        background-color: #fff;
        background-image: none;
        opacity: 1;
        top: 45%;
        color: #009f61;
        border-radius: 50px;
        height: 30px;
        width: 30px;
        box-shadow: 0 0 10px 0 rgba(91, 103, 112, 0.5);
    }

    .carousel-control-next{
        margin-right: 10px;
    }

    .carousel-control-prev{
        margin-left: 10px;
    }

    .carousel-control-next-icon, .carousel-control-prev-icon{
        cursor: pointer;

    }

    .carousel-control-next-icon:after
    {
        position: absolute;
        top: 0%;
        left: 40%;
        font-family: FontAwesome, sans-serif;
        content: "\f105";
        font-size: 20px;
        color: #009f61;
    }

    .carousel-control-prev-icon:after
    {
        position: absolute;
        top: 0%;
        left: 35%;
        font-family: FontAwesome, sans-serif;
        content: "\f104";
        font-size: 20px;
        color: #009f61;
    }

    .carousel-indicators{
        bottom: -40px;

        li{
            width: 10px;
            height: 10px;
            border-radius: 10px;
            border: 1px solid #009f61;
        }
        .active{
            background-color: #009f61;
        }
    }
}
/*----- End : Carousel -----*/

.container-fluid{
    overflow-x: hidden;
}

.disabledSection {
    pointer-events: none;
    filter: brightness(70%);
    -webkit-filter: brightness(70%);
}
